# Web Scrapping Assi_4 Solution

In [19]:
#import necessary libraries
import selenium
import time
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

# Scrape the details of most viewed videos on YouTube from Wikipedia:
## Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
## You need to find following details:
### A) Rank
### B) Name
### C) Artist
### D) Upload date
### E) View

In [17]:
#importing exceptions
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

In [26]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')

In [27]:
#getting page 
page1 = driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [44]:
#scraping the most viewed youtube videos information

Name=[] #empty list
Rank = []#empty list
Artist = []#empty list
Date = []#empty list
Views = []#empty list

try:

    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")

    for i in names:

        Name.append(i.text) #scraping name of the videos

except NoSuchElementException:#handling no such element exception

    Name.append('-')

except StaleElementReferenceException:#handling Stale element exception

    Name.append('-')
time.sleep(3)  
try:

    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")

    for i in ranks:

        Rank.append(i.text) #scraping anks

except NoSuchElementException:#handling no such element exception

    Rank.append('-')

except StaleElementReferenceException:#handling Stale element exception

    Rank.append('-')
time.sleep(3)
try:
    artist = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    
    for i in artist:
        Artist.append(i.text)#scraping artist names
except NoSuchElementException:
    Artist.append('-')
except StaleElementReferenceException:#handling Stale element exception
    Rank.append('-')
time.sleep(3)

try:
    date = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    
    for i in date:
        Date.append(i.text)#scraping date when the video uploaded
except NoSuchElementException:
    Date.append('-')
except StaleElementReferenceException:#handling Stale element exception
    Date.append('-')
time.sleep(3)

try:
    view = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    
    for i in view:
        Views.append(i.text)#scraping the views
except NoSuchElementException:
    Views.append('-')
except StaleElementReferenceException:#handling Stale element exception
    Views.append('-')

In [46]:
dfy = pd.DataFrame()#Making dataframe

dfy['Rank'] = Rank
dfy['Name']= Name
dfy['Artist'] =  Artist
dfy['Date'] =  Date
dfy['Views'] =  Views

dfy

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.20
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.50
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.65
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.43
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.23
5,6.,"""Bath Song""[30]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.47
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[31]",Miroshka TV,"February 27, 2018",4.45
7,8.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.45
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.27
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.16
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.10
11,12.,"""Dame Tu Cosita""[37]",El Chombo,"April 5, 2018",3.54
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.54
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.46
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.41
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.37
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.31
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.23
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.13
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.12
20,21.,"""Girls Like You""[46]",Maroon 5,"May 31, 2018",3.10
21,22.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.09
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.08
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.08
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.06
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.96
26,27.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",2.95
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.93
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.92
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.87

# Q.2 Scrape the details team India’s international fixtures from bcci.tv.
## Url = https://www.bcci.tv/.
## You need to find following details:
### A) Match title (I.e. 1st ODI)
### B) Series
### C) Place
### D) Date
### E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get('https://www.bcci.tv/')

In [11]:
driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]').click()
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click()

In [33]:
Title = []#empty list
Series = []#empty list
Place = []#empty list
Date = []#empty list
Timer = []#empty list

try:
    title = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//strong')
    for i in title:
        Title.append(i.text) #scraping match title
except NoSuchElementException:#handling no such element exception
    Title.append('-')
    time.sleep(2)

try:
    series = driver.find_elements_by_xpath('//span[@class ="u-unskewed-text fixture__tournament-label u-truncated"]')
    for i in series:
        Series.append(i.text)#scraping series name
except NoSuchElementException:#handling no such element exception
    Series.append('-')
    time.sleep(2)

try:
    place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//span')
    for i in place:
        Place.append(i.text)#scraping location of the match
except NoSuchElementException:#handling no such element exception
    Place.append('-')
    time.sleep(2)
    
try:
    timer = driver.find_elements_by_xpath('//div[@class="fixture__date-details"]//span[2]')
    for i in timer:
        Timer.append(i.text)#scraping time of the matches
except NoSuchElementException:#handling no such element exception
    Timer.append('-')

In [34]:
dfc = pd.DataFrame()#Making dataframe
dfc ['Title'] =   Title
dfc ['Series'] =   Series
dfc ['Place'] =   Place
dfc ['Timer'] =   Timer
dfc

,Title,Series,Place,Timer
0,4th Test,ENGLAND V INDIA 2021,"The Oval, London",15:30 IST
1,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST
2,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",19:30 IST
3,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",19:30 IST
4,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Sheikh Zayed Cricket Stadium, Abu Dhabi",19:30 IST
5,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",19:30 IST
6,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",19:30 IST

# Q.3 Scrape the details of selenium exception from guru99.com.
## Url = https://www.guru99.com/
### You need to find following details:
### A) Name
### B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [47]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get(' https://www.guru99.com/')

In [48]:
#clicking the selenium page
driver.find_element_by_xpath('//*[@id="post-2669"]/div/div[1]/div[1]/div[2]/div/div[2]/span[8]').click()

In [49]:
#clicking the exception handling page
driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a').click()

In [50]:
Name = []#empty list
Desc = []#empty list

try:
    name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)#scraping the names of the exceptions
except NoSuchElementException:#handling no such element exception
    Name.append('-')
except StaleElementReferenceException:
    Name.append('-')
time.sleep(2)

try:
    desc = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
    for i in desc:
        Desc.append(i.text)#Scraping description
except NoSuchElementException:#handling no such element exception
    Desc.append('-')
except StaleElementReferenceException:
    Desc.append('-')

In [53]:
dfe = pd.DataFrame()#Making dataframe

dfe['Exception Name'] = Name
dfe['Description'] = Desc
dfe

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Q.4 . Scrape the details of State-wise GDP of India from statisticstime.com.
## Url = http://statisticstimes.com/
### You have to find following details:
### A) Rank
### B) State
### C) GSDP at current price (19-20)
### D) GSDP at current price (18-19)
### E) Share(18-19)
### F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [54]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get('http://statisticstimes.com/')

In [56]:
#click on the economy page
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [57]:
#clicking on state wise gdp
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [60]:
Rank = []#empty list
State = []#empty list
GSDP1 = []#empty list
GSDP2 = []#empty list
Share = []#empty list
GDP = []#empty list

try:
    rank = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)#scraping state rank
except NoSuchElementException:#handling no such element exception
    Rank.append('-')
time.sleep(2)

try:
    state = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)#scraping state name
except NoSuchElementException:#handling no such element exception
    State.append('-')
time.sleep(2)

try:
    gsdp1 = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[3]')
    for i in gsdp1:
        GSDP1.append(i.text)#scraping GSDP 19-20
except NoSuchElementException:#handling no such element exception
    GSDP1.append('-')
time.sleep(2)

try:
    gsdp2 = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[4]')
    for i in gsdp2:
        GSDP2.append(i.text)#scraping GSDP 18-19
except NoSuchElementException:#handling no such element exception
    GSDP2.append('-')
time.sleep(2)

try:
    share = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)#Scraping share 
except NoSuchElementException:#handling no such element exception
    Share.append('-')
time.sleep(2)

try:
    gdp = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)#scraping gdp 
except NoSuchElementException:#handling no such element exception
    GDP.append('-')

In [62]:
dfgdp = pd.DataFrame() #Making DataFrame
dfgdp['Rank'] = Rank
dfgdp['State'] = State
dfgdp['GSDP at current price (19-20)'] = GSDP1
dfgdp['GSDP at current price (18-19)'] = GSDP2
dfgdp['Share(18-19)'] = Share
dfgdp['GDP($ billion)'] = GDP

dfgdp

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

# Q.5 Scrape the details of trending repositories on Github.com.
## Url = https://github.com/
### You have to find the following details:
### A) Repository title
### B) Repository description
### C) Contributors count
### D) Language use
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [68]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get('https://github.com/')

In [70]:
#click on menu button
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/button').click()

In [71]:
#click on explore button
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

In [72]:
#click on trending button
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').click()

In [73]:
Title = []#empty list
Desc = []#empty list
Count = []#empty list
Lang = []#empty list

try:
    title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)#scraping Repository title
except NoSuchElementException:#handling no such element exception
    Title.append('-')
time.sleep(2)

try:
    desc = driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
    for i in desc:
        Desc.append(i.text) #scraping Repository Description
except NoSuchElementException:#handling no such element exception
    Desc.append('-')
time.sleep(3)

try:
    count = driver.find_elements_by_xpath('//div[@class="f6 color-text-secondary mt-2"]/a[2]')
    for i in count:
        Count.append(i.text)#Scraping Contributors count
except NoSuchElementException:#handling no such element exception
    Count.append('-')
time.sleep(2)

try:
    lang = driver.find_elements_by_xpath('//div[@class="f6 color-text-secondary mt-2"]/span/span[2]')
    for i in lang:
        Lang.append(i.text)#Scraping language
except NoSuchElementException:#handling no such element exception
    Lang.append('-')

In [83]:
dfg = pd.DataFrame()#Making DataFrame
dfg['Repository title'] = Title
dfg[' Repository description'] = Desc
dfg['Contributors count'] = Count
dfg['Language'] = Lang

dfg

,Repository title,Repository description,Contributors count,Language
0,SeanDaBlack / AbBOT,"GTA III, Vice City",47,Python
1,GTAmodding / re3,🤗 JVM 底层原理最全知识总结,738,C++
2,doocs / jvm,Collection of various algorithms in mathematic...,"1,631",Java
3,TheAlgorithms / C-Plus-Plus,Windows system utilities to maximize productivity,"4,036",C++
4,microsoft / PowerToys,Loot Project website,"3,262",C#
5,lootproject / website,wskey,43,TypeScript
6,Zy143L / wskey,😮 Core Interview Questions & Answers For Exper...,103,Python
7,doocs / advanced-java,A list of Free Software network services and w...,"15,626",Java
8,awesome-selfhosted / awesome-selfhosted,A collective list of free APIs,"4,773",JavaScript
9,public-apis / public-apis,Scripts to collect statistics about the LOOT +...,"17,576",Python
10,Anish-Agnihotri / dhof-loot,10x faster matrix and vector operations.,33,JavaScript
11,dblalock / bolt,Community curated list of templates for the nu...,55,C++
12,projectdiscovery / nuclei-templates,JSON for Modern C++,702,Python
13,nlohmann / json,".NET MAUI is the .NET Multi-platform App UI, a...","4,512",C++
14,dotnet / maui,Reverse proxies cheatsheet,490,C#
15,GrrrDog / weird_proxies,天涯 kkndme 神贴聊房价,122,Python
16,shenzhengfang / kkndme_tianya,A repository for All algorithms implemented in...,523,JavaScript
17,TheAlgorithms / Javascript,Podman: A tool for managing OCI containers and...,"2,322",Go
18,containers / podman,Protocol and application framework for decentr...,"1,024",Rust
19,metaplex-foundation / metaplex,"Stalk your Friends. Find their Instagram, FB a...","1,060",Python
20,ThoughtfulDev / EagleEye,Develop an end-to-end hypothetical reference m...,402,ANTLR
21,opencomputeproject / Time-Appliance-Project,Complete container management platform,39,Go
22,rancher / rancher,Create generative art by using the canvas api ...,"2,318",JavaScript
23,HashLips / generative-art-opensource,Repository for the Astropy core package,54,Python

# Q.6  Scrape the details of top 100 songs on billboard.com.
## Url = https://www.billboard.com/
### You have to find the following details:
### A) Song name
### B) Artist name
### C) Last week rank
### D) Peak rank
### E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [84]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get(' https://www.billboard.com/')

In [85]:
#click on charts button
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a').click()

In [86]:
#click on hot-100 page
driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]/div[1]').click()

In [87]:
Song = []#empty list
Artist = []#empty list
Rank1 = []#empty list
Rank2 = []#empty list
Week = []#empty list

try:
    song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
    for i in song:
        Song.append(i.text) #scraping song name
except NoSuchElementException:#handling no such element exception
    Song.append('-')
time.sleep(2)

try:
    artist  =driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
    for i in artist:
        Artist.append(i.text)#scraping artist name
except NoSuchElementException:#handling no such element exception
    Artist.append('-')
time.sleep(2)

try:
    rank1 = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
    for i in rank1:
        Rank1.append(i.text)#scraping last week rank
except NoSuchElementException:#handling no such element exception
    Rank1.append('-')
time.sleep(2)

try:
    rank2 = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
    for i in rank2:
        Rank2.append(i.text)#scraping peak rank
except NoSuchElementExceptionu:#handling no such element exception
    Rank2.append('-')
time.sleep(2)

try:
    week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
    for i in week:
        Week.append(i.text)#scraping how many weeks on board it is
except NoSuchElementException:#handling no such element exception
    Week.append('-')

In [89]:
dfb = pd.DataFrame()#Making DataFrame
dfb['Song name'] = Song
dfb['Artist name'] = Artist
dfb['Last week rank'] = Rank1
dfb['Peak rank'] = Rank2
dfb['Weeks on board'] = Week

dfb

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Stay,The Kid LAROI & Justin Bieber,1,1,7
1,Bad Habits,Ed Sheeran,2,2,9
2,Good 4 U,Olivia Rodrigo,3,1,15
3,Kiss Me More,Doja Cat Featuring SZA,5,3,20
4,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
95,Tick Tock,Young Thug,-,96,1
96,Permission To Dance,BTS,66,1,7
97,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
98,Time Heals,Rod Wave,-,99,1
99,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

# Q.7 Scrape the details of Data science recruiters from naukri.com.
## Url = https://www.naukri.com/
### You have to find the following details:
### A) Name
### B) Designation
### C) Company
### D) Skills they hire for
### E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [12]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get('https://www.naukri.com/')

In [13]:
#click on recruiters option
driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div').click()

In [15]:
driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input').send_keys('Data science') #send keys to seach input
driver.find_element_by_xpath('//*[@id="qsbFormBtn"]').click() #click on search

In [32]:
Name = []#empty list
Design = []#empty list
Company = []#empty list
Skills = []#empty list
Loc = []#empty list

try:
    name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for i in name:
        Name.append(i.text)#scraping name of the recruiter
except NoSuchElementException:#handling no such element exception
    Name.append('-')
time.sleep(3)

try:
    design = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for i in design:
        Design.append(i.text)#scraping designation of the recruiter
except NoSuchElementException:#handling no such element exception
    Design.append('-')
time.sleep(3)

try:
    company = driver.find_elements_by_xpath('//p[@class="highlightable"]//a[2]')
    for i in company:
        Company.append(i.text)#scraping company name
except NoSuchElementException:#handling no such element exception
    Company.append('-')
time.sleep(3)

try:
    loc = driver.find_elements_by_xpath('//p[@class="highlightable"]//span[2]//small')
    for i in loc:
        Loc.append(i.text)#scraping location of the company
except NoSuchElementException:
    Loc.append('-')
except StaleElementReferenceException:#handling no such element exception
    Loc.append('-')
time.sleep(3)

try:
    skills = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for i in skills:
        Skills.append(i.text)#scraping skills required
except NoSuchElementException:#handling no such element exception
    Skills.append('-')

In [35]:
dfd = pd.DataFrame()#Making DataFrame
dfd['Name'] = Name
dfd['Designation'] = Design
dfd['Company'] = Company
dfd['Skills'] = Skills
dfd['Location'] = Loc

dfd

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Delhi
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Hyderabad / Secunderabad

# Q.8 . Scrape the details of Highest selling novels.
## Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
## You have to find the following details:
### A) Book name
### B) Author name
### C) Volumes sold
### D) Publisher
### E) Genre

In [101]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [103]:
Book = []#empty list
Author = []#empty list
Volumes = []#empty list
Publish = []#empty list
Genre = []#empty list

try:
    book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)#scraping book name
except NoSuchElementException:#handling no such element exception
    Book.append('-')
time.sleep(3)

try:
    author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)#scraping author name
except NoSuchElementException:#handling no such element exception
    Author.append('-')
time.sleep(3)

try:
    volumes = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volumes:
        Volumes.append(i.text)#scraping volumes sold
except NoSuchElementException:#handling no such element exception
    Volumes.append('-')
time.sleep(3)

try:
    publish = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publish:
        Publish.append(i.text)#scraping publisher name
except NoSuchElementException:#handling no such element exception
    Publish.append('-')
time.sleep(3)

try:
    genre = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)#scraping genre of the book
except NoSuchElementException:#handling no such element exception
    Genre.append('-')

In [104]:
dfb = pd.DataFrame()#Making DataFrame

dfb['Book Name'] = Book
dfb['Author Name'] = Author
dfb['Volumes sold'] = Volumes
dfb['Publisher'] = Publish
dfb['Genre'] = Genre

dfb

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q.9 Scrape the details most watched tv series of all time from imdb.com.
## Url = https://www.imdb.com/list/ls095964455/
### You have to find the following details:
### A) Name
### B) Year span
### C) Genre
### D) Run time
### E) Ratings
### F) Votes

In [105]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get('https://www.imdb.com/list/ls095964455/')

In [108]:
Name = []#empty list
Year = []#empty list
Genre = []#empty list
Run = []#empty list
Ratings = []#empty list
Votes = []#empty list

try:
    name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)# scraping name of the series
except NoSuchElementException:#handling no such element exception
    Name.append('-')
time.sleep(3)

try:
    year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
    for i in year:
        Year.append(i.text)#scraping year of release
except NoSuchElementException:#handling no such element exception
    Year.append('-')
time.sleep(3)

try:
    genre = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]')
    for i in genre:
        Genre.append(i.text)#scraping genre of the series
except NoSuchElementException:#handling no such element exception
    Genre.append('-')
time.sleep(3)

try:
    run = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[3]')
    for i in run:
        Run.append(i.text)#scrapinng runtime
except NoSuchElementException:#handling no such element exception
    Run.append('-')
time.sleep(3)

try:
    rating = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
    for i in rating:
        Ratings.append(i.text)#scraping rating
except NoSuchElementException:#handling no such element exception
    Ratings.append('-')
time.sleep(3)

try:
    votes = driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')
    for i in votes:
        Votes.append(i.text)#scrapiing votes
except NoSuchElementException:#handling no such element exception
    Votes.append('-')

In [109]:
dfi = pd.DataFrame()#Making DataFrame
dfi['Name'] = Name
dfi['Year Span'] = Year
dfi['Genre'] = Genre
dfi['Runtime'] = Run
dfi['Ratings'] = Ratings
dfi['Votes'] = Votes

dfi

,Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,866,459"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"902,107"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"894,077"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"269,139"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,359"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,462"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,338"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,222"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,459"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"198,042"

# Q.10 Details of Datasets from UCI machine learning repositories.
## Url = https://archive.ics.uci.edu/
### You have to find the following details:
### A) Dataset name
### B) Data type
### C) Task
### D) Attribute type
### E) No of instances
### F) No of attribute
### G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [110]:
#Setting up chrome web-driver
driver = webdriver.Chrome('chromedriver.exe')
page1 = driver.get('https://archive.ics.uci.edu/')

In [111]:
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()

In [121]:
Name=[]#empty list
Type = []#empty list
Task = []#empty list
Atype = []#empty list
Instance = []#empty list
Attr = []#empty list
Year = []#empty list

try:
    name = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)#scraping dataset name
except NoSuchElementException:#handling no such element exception
    Name.append('-')
time.sleep(2)

try:
    types = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in types:
        Type.append(i.text)#scraping type of dataset
except NoSuchElementException:#handling no such element exception
    Type.append('-')
time.sleep(2)

try:
    task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task:
        Task.append(i.text)#scraping task of the dataset
except NoSuchElementException:#handling no such element exception
    Task.append('-')
time.sleep(2)

try:
    atype = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in atype:
        Atype.append(i.text)#scrape attribute type of thhe data
except NoSuchElementException:#handling no such element exception
    Atype.append('-')
time.sleep(2)

try:
    instance = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in instance:
        Instance.append(i.text)#scrape No. of Instance
except NoSuchElementException:#handling no such element exception
    Instance.append('-')
time.sleep(2)

try:
    attr = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in attr:
        Attr.append(i.text)#scrape No.of attribute
except NoSuchElementException:#handling no such element exception
    Attr.append('-')
time.sleep(2)

try:
    year = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year:
        Year.append(i.text)#scraping year
except NoSuchElementException:#handling no such element exception
    Year.append('-')

In [124]:
dfd = pd.DataFrame()#Making DataFrame

dfd['Dataset Name']= Name 
dfd['Data Type'] = Type 
dfd['Task'] = Task 
dfd['Attribute type'] = Atype 
dfd['No. of Instance'] = Instance  
dfd['No of Attribute'] = Attr 
dfd['Year'] = Year 

dfd

,Dataset Name,Data Type,Task,Attribute type,No. of Instance,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021