#  WEB SCRAPING ASSIGNMENT 2 SOLUTION

In [1]:
#Importing Some Necessery libraries
import selenium
import time
import pandas as pd
from selenium import webdriver

In [2]:
#Setting up firefox web-driver
driver = webdriver.Firefox(executable_path = 'geckodriver.exe')

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data

In [80]:
#Getting url
url = 'https://www.naukri.com/'
driver.get(url)

In [83]:
#Send keys to job search as 'Data Analyst'
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys('Data Analyst')

#fill location field and send keys
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

#Press enter button
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [84]:
#Scrape job title using xpath
jobs_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []

for i in jobs_title[:10]:
    job_title.append(i.text)

In [85]:
#Create Dataframe
df = pd.DataFrame()
df['Job Title'] = job_title
df

                                     Job Title
0                                 Data Analyst
1                                 Data Analyst
2  Product/Data Analyst - SQL/Tableau/Qlikview
3                                 Data Analyst
4                                 Data Analyst
5                         Process Data Analyst
6                                 Data Analyst
7           Data Analyst II - Customer Support
8         Data Analyst _ 2-5 Years _ Bangalore
9                    Product Data Analyst - IT

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [168]:
#Getting Url
page = driver.get('https://www.naukri.com/')

In [169]:
#Fill job search field and send keys
job_search = driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys('Data Scientist')

#Fill location search field and send keys
loc_search = driver.find_element_by_id('qsb-location-sugg')
loc_search.send_keys('Bangalore')

#Press Search Button
btn = driver.find_element_by_class_name('btn')
btn.click()

In [170]:
Title = []#empty list 
Location = []#empty list 
Name =  []#empty list 

#Find elments 
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
location = driver.find_elements_by_xpath('//i[@class="fleft icon-16 lh16 mr-4 naukicon naukicon-location"]')
comp_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in title:
    Title.append(i.text)
time.sleep(5)#Scrape Titles 

for i in location:
    Location.append(i.text)
time.sleep(5)#scrape location

for i in comp_name:
    Name.append(i.text)
time.sleep(5)#scrape company name

In [171]:
job_des_urls = []#empty list

#getting url's from page
url = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

for i in url:
    job_des_urls.append(i.get_attribute('href'))
job_des_urls #Scrape url's

['https://www.naukri.com/job-listings-senior-data-scientist-symbiosis-international-w-l-l-bangalore-bengaluru-10-to-15-years-050821004331?src=jobsearchDesk&sid=16282471906477142&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-datamatics-global-services-ltd-bangalore-bengaluru-8-to-13-years-040821003517?src=jobsearchDesk&sid=16282471906477142&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-mcafee-software-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-050821501145?src=jobsearchDesk&sid=16282471906477142&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-engineers-data-scientist-and-sap-teamware-solutions-bangalore-bengaluru-7-to-10-years-300721500677?src=jobsearchDesk&sid=16282471906477142&xp=4&px=1',
 'https://www.naukri.com/job-listings-python-data-scientist-mindtree-limited-bangalore-bengaluru-3-to-5-years-040821500207?src=jobsearchDesk&sid=16282471906477142&xp=5&px=1',
 'https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-dot-net-cunesoft-india-private-limited-bangalore-bengaluru-3-to-8-years-190121001281?src=jobsearchDesk&sid=16282471906477142&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-uber-bangalore-bengaluru-6-to-8-years-050821500683?src=jobsearchDesk&sid=16282471906477142&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-associate-data-scientist-novotree-minds-consulting-pvt-limited-bangalore-bengaluru-4-to-7-years-300721001832?src=jobsearchDesk&sid=16282471906477142&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-260721907182?src=jobsearchDesk&sid=16282471906477142&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-030821501259?src=jobsearchDesk&sid=16282471906477142&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bidgely-technologies-private-limited-bangalore-bengaluru-4-to-6-years-030821500043?src=jobsearchDesk&sid=16282471906477142&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-goals-101-data-solutions-pvt-ltd-new-delhi-bangalore-bengaluru-delhi-ncr-4-to-8-years-030821000870?src=jobsearchDesk&sid=16282471906477142&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-permanent-role-onward-technologies-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030821002780?src=jobsearchDesk&sid=16282471906477142&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-randstad-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-280721000424?src=jobsearchDesk&sid=16282471906477142&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-red-hat-india-pvt-ltd-bangalore-bengaluru-8-to-13-years-220721008125?src=jobsearchDesk&sid=16282471906477142&xp=15&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-tech-lead-data-science-confidential-bangalore-bengaluru-6-to-9-years-020821903704?src=jobsearchDesk&sid=16282471906477142&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-l-a-consultancy-kochi-cochin-hyderabad-secunderabad-pune-chennai-delhi-ncr-bangalore-bengaluru-5-to-9-years-310721903849?src=jobsearchDesk&sid=16282471906477142&xp=17&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-tensorflow-machine-learning-getinz-techno-services-mumbai-hyderabad-secunderabad-chennai-bangalore-bengaluru-7-to-10-years-250721900474?src=jobsearchDesk&sid=16282471906477142&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-analyst-data-scientist-naukri-employer-services-bangalore-bengaluru-1-to-4-years-300721006074?src=jobsearchDesk&sid=16282471906477142&xp=19&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-310721500675?src=jobsearchDesk&sid=16282471906477142&xp=20&px=1']

In [172]:
job_desc = []#empty list 

for i in job_des_urls[:10]:
    driver.get(i)
    try:
        description = driver.find_element_by_xpath('//section[@class="job-desc"]/div[1]')
        job_desc.append(description.text.replace('\n',''))
    except:
        job_desc.append('-')
job_desc #Scrape job description

["Required Candidate profileWe are looking for a Senior Data Scientist with a min of 10 years experience in Banking Financial Domain (especially Compliance related) and a solid background in Cloudera.As a Cloudera Specialist, you must be adept in Cloudera tools like CDH, CEPH, CM, CMA, Data node EDH, HVE, JAS, NameNode, Nodemanager, QJM, QJN, RM and ZK.This will be a two years assignment to one of the Leading Class A banks in Abu Dhabi.Candidate should have finished two or three full implementations of Data Analytics in Compliance in large Enterprise Banks.Should be having thorough knowledge in R, Python, Scala on demand and Jupyter Notebooks.Should be having hands experience in CCA Spark and Hadoop developer.Should be having a Financial Compliance Background with a good knowledge and hands on expertise on Compliance related domains.Should be a Machine Learning expert and create new models and use various library in that area. You should have proven skills in this area.Should be having a thorough theoretical and practical idea on the following systems (From a Data Scientist Perspective)HDFSYarnMapReduceHivePigApache AmbariHBase / Apache ImpalaStormOozieRangerZookeeperVarious data ingestion tools like Sqoop, flume, KafkaVarious reporting tools like Drill, Phoenix, ZeppelinWill be an added advantage if you have exposure to GPU processing, Tensor Flow and Data Lakes.Should be able to produce high Quality Business documentation, Project Management, Agile Framework practices as needed.Should inspect the current Cloudera Architecture and suggest enhancements or improve it.Should be able to communicate with Senior Business Management ideas, concepts and deliverables.If you have certifications on Cloudera (Cloudera Data Engineer, Spark and Hadoop Developer), it will be an added advantage.Data Scientist - ComplianceResponsibilities:Use advanced analytics methods to extract value from business dataPerform large-scale experimentation and build data-driven models to answer business questionsConduct research on cutting-edge techniques and tools in machine learning/deep learning/artificial intelligenceDetermine requirements that will be used to train and evolve deep learning models and algorithmsArticulate a vision and roadmap for the exploitation of data as a valued corporate assetInfluence product teams through presentation of data-based recommendationsEvangelize best practices to analytics and products teamsAssemble large, complex data sets that meet functional / non-functional business requirements.Identify, design, and implement internal process improvements: automating manual processes, optimizing analytics delivery, re-designing infrastructure for greater scalability, etc.Build analytics tools that utilize the data to provide actionable insights into customer acquisition, operational efficiency and other key business performance metrics.Work with stakeholders including the Executive, Product, Data and Design teams to assist with analytics related technical issues and support their data infrastructure needs.Work with data and analytics experts to strive for greater functionality data systemsTypical skills and background:SKILLS:Can work with data to identify patterns.Use judgement to form conclusions that may challenge conventional wisdom and focus on the crux of issues to identify high-leverage intervention points and strategies.Rapidly acquire new knowledge and learn new skillsSeek to understand business needs and get results that have a clear, positive, and direct impact on business performanceApply different strategies to convince others to change their opinions or plans and ensure that proposals or arguments are supported by strong logic and a compelling business case, addressing all relevant factors.Consider the relative costs and benefits of potential actions to choose the most appropriate oneCommunication and storytellingTeamwork and collaborationBanking domain business knowledgeAdvanced analytics modelling and orchestrationSolid development skills in Java, Scala and SQLSound knowledge of using data science tools and languages like Cloudera Data Science Workbench (CDSW), Jupyter Notebook, Python etc.Clear hands-on mastery in big datab systems - Hadoop ecosystem, Cloud technologies (AWS, Azure, Google), in-memory database systems (HANA, Hazel cast, etc) and other database systems - traditional RDBMS (Terradata, SQL Server, Oracle), and NoSQL databases (Cassandra, MongoDB, DynamoDB)Comfortable in dashboard development (Tableau, Powerbi, Qlik, etc) and in developing data analytics models (R, Python, Spark)EXPERIENCE AND QUALIFICATION:Masters degree from top-tier college/university in Computer Science, Statistics, Economics, or other closely-related fieldMinimum of 6 years' hands-on experience with a strong data backgroundExtensive experience working with Big Data tools and building data solutions for advanced analyticsExperience with statistical software, scripting languages, and packages (e.g. R, MATLAB, SAS, and Python)Considerable experience in solving business problems with advanced analytical solutionsProven experience in conducting statistical analysis and building models with advanced scripting language such as R, SPSS, or other analytic tools.Experience building and deploying predictive models, web scraping, and scalable data pipelines.Strong understanding of statistical methods and skills such as Bayesian Networks Inference, linear and non-linear regression, hierarchical, mixed models/multi-level modelingPractical knowledge across data extraction and transformation tools - traditional ETL tools (Informatica, Altryx) as well as more recent big data toolsFinancial Renumeration will be based on your skills and expertise.Notice Period of 30 to 45 days preferredPrevious working experience in Middle East and Gulf regions preferred Roles and ResponsibilitiesDesired Candidate ProfilePerks and Benefits",
 'Roles and ResponsibilitiesDetails in lined for Hiring Team to focus:The hiring is for a single Data Scientist (7-8+yrs) as he/she shall be an individual contributor.We shall seek for a strong java/python/scala with expertise into frameworks ML (spark/keras/tensorflow).ML concepts has to be thorough with proven expertise in ( Decision Trees, Random Forest, NLP) Deep Learning is excluded.Desired Candidate ProfilePerks and Benefits',
 'Data Scientist Primary Location India, Bangalore Date posted 08/01/2021Apply Now Save Job ID: JR0024575Job Title:Data ScientistRole Overview:Data scientist will be doing research on innovative projects in platform engineering group at McAfee. Platform Engineering Group is the is one of the core groups responsible for collecting data from millions of sensors from various products of Enterprises, using the data to protect the customers, provide insights and necessary actions to be taken for security gap.This position is an integral part of the McAfee Enterprise business segment which was acquired by Symphony Technology Group (STG) in July 2021. McAfee Enterprise and its team members remain committed to keeping governments and enterprises safe. This position is dedicated to and part of the McAfee Enterprise business.Company OverviewMcAfee is a leader in personal security for consumers. Focused on protecting people, not just devices, McAfee consumer solutions adapt to users needs in an always online world, empowering them to live securely through integrated, intuitive solutions that protects their families and communities with the right security at the right moment.About the Role:Develop Machine learning models to analyze and obtain practical insights from large volume of data that requires expertise at data exploration, analysis and feature engineeringExperiment and Develop POCs of innovative ideas to come up with new solutions for addressing security gapsCreate machine learning pipelines to automate generation of efficient and better modelsCommunicate and work with engineering teams to productionize the solutionsTaking ownership and responsibility of the solutions and driving to closureParticipate in data and product analytics to develop customer insights and product featuresImplement newer machine learning algorithms and models to improve the efficacy of the existing solutionsPublish research papers on the experiments and machine learning solutionsAbout you :5+ years of experience in the field of Data Science5+ years of programming experience in at least one of Python or Java3+ years of working experience on large datasets using ML and experience with ML model life cyclePhD degree in Computer Science, Data Science, Statistics, Mathematics or other related fields is preferredDeep knowledge in Natural Language processing, Deep learning, statistics, predictive modeling and time series analysis.Passionate about Cybersecurity and want to apply machine learning solutions in this space to solve security problems.Experience working on Big data problemsExperience working on problems relevant to detecting risk, fraud and trust is an added advantageExperience in working in AWS cloud environment is an added advantageExperience with Publishing research papers',
 'Dynamic recruiting professional with 7 - 10 years of high-performance tech recruiting experience with search firms and /or mid-large-sized technology companies.Experience in engaging and hiring the best talent for Data Engineers, Data Scientist and SAPOpen to learning from your peers managers, anything that helps you do your job better day in day out also often share best practices in hiring talent attraction strategies with them.Work well with teams as also on your own as a high-impact individual contributor.Use social media, job boards, Internet sourcing, and other technical means to source candidates for open jobs.Understanding of modern recruiting methods like hackathons but are equally comfortable with old school methods as well.Work with internal technology teams and hiring managers to assist with recruitment efforts across levels.Work in sync with the company-wide recruitment strategy. This may include job posting optimization, recruiting marketing channel development, search selection using job boards, digital and non-digital employment marketing, comprehensive recruitment campaign planning, talent planning, stakeholder management, etc.Identify and source appropriate talent for current open roles within the organization using traditional non-traditional means of recruiting.Proactively develop talent pools/talent communities to dip into when hiring is in full swing.Manage the end-to-end recruitment process and life-cycle, including sourcing, initial assessments, telephonic personal interviews culminating in offers maintaining the appropriate MIS.',
 'Basic Qualifications3-5 years of hands-on experience in in data science, applied statistics, machine learning, data mining, statistical modeling tools and underlying algorithms 3-5 years of hands-on experience building production grade machine learning enabled solutions end to end.3-5 years of experience in statistical modeling methods, time series, text mining, optimization, information retrieval3-5 years hands-on experience using R, Python or and other languages appropriate for large scale analysis of numerical and textual data3-5 years Hands-on experience using SQL and data miningExperience with experiments, machine learning, deep learning, anomaly detection, predictive analysis, exploratory data analysis, and other areas of data scienceExperience using large data systems Advanced data visualization experienceExperience in business, program and/or strategy planning Experience in business, program and/or strategy planning Experience in business, program and/or strategy planning.Job Requirements:Python, SQL, R Language, Machine Learning for Rules, AI Hub, Machine Learning Fundamentals, Machine Learning Application',
 'Dear CandidatesWe are looking for a competent and enthusiastic candidate with the below requirement. This vital role ensures Cunesoft India Pvt Ltd (a Phlexglobal Company) Bangalore can provide a high-quality end product to internal and external users. This position requires strong technical and communication skills as well as both independent and team working, including working closely with all other areas of the software delivery team and the rest of the Technology department.Roles and ResponsibilitiesKey ActivitiesDevelop and improve the existing data mining and NLP related processes within our Regulatory Data Management platformDevelop new ways of improving and transforming the regulatory processes of Phlexglobal customers.Interact with product management, project management and development teams to develop additional modules and functions within the Phlexglobal Cloud PlatformDesign and create solutions for pre specified modules and functionsUse existing tools and techniques to develop and test new and existing workDefine, create and execute automated test cases, i.e. unit testsParticipate in troubleshooting and triaging of issues with different teams to drive towards root cause identification and resolutionSupport production deployment of applications and perform validation testing during the off-hours maintenance windowsSupport and fix existing and new identified issues by either customers or internal test teams.Desired Candidate ProfileRequired Skills & ExperienceMinimum 3+ years working experience in NLP, Artificial Intelligence, Machine Learning, Text Mining, Neural NetworksStrong programming skills using PYTHONIn depth experience with OpenNLP, Stanford NLP or related NLP / data mining technologiesIn depth experience with Python and data libraries such as scikit learn, pandas, numpy, etc.Selecting features, building and optimizing classifiers using Machine learning techniquesExcellent understanding of Machine Learning Techniques and Algorithms.Must have Data mining / Natural Language Processing experienceMust have very good understanding of GITProcessing, Cleansing, and verifying the integrity of dataDevelop custom data models and algorithms to apply to data sets.Defining validation strategiesDefining the preprocessing or feature engineering to be done on a given datasetDefining data augmentation pipelinesTraining models and tuning their hyperparametersAnalyzing the errors of the model and designing strategies to overcome themDeploying models to productionAdded advantages3+ years experience using Microsoft .NET / C#Exposure to ML.Net, AutoML, NimbusML, etcGood knowledge of Microsoft Visual Studio is preferredGood to have Microsoft SQL Server, preferably Microsoft SQL AzurePrevious experience in the Life sciences areaOther requirementsExcellent verbal and written communication skillsMust be flexible, independent and self motivatedPunctual, Regular and consistent attendanceAs part of the Interview process, you should have attempted the below mentioned Kaggle project.https://www.kaggle.com/c/titanicWe would like to arrange a phone interview with you. Please confirm your interest in this position by sending your recent CV attached along with below details.Total years of Experience :Relevant Experience :Current CTC :Expected CTC :Notice Period :Current Location :Best time to talk to you :Candidates with relevant experience can contact me.We are looking for a candidate who can join us immediately / in less than 15-20 days / 30 days / ASAPPlease ignore, if you have already been interviewed within 3 months.ThanksSrinisarumugam@phlexglobal.com+91 63660 85842Dot Net DeveloperJunior (3-5 yrs), Mid (5-8 yrs) & Lead (8-12 yrs) level roles.Commercial experience in web development using the full Microsoft .Net development stack (specifically C#, MVC, .Net Core), SQL, front-end frameworks (jQuery, React, etc).Coding, Entity framework, Linq, Source control system (Any - TFS or GIT), Data structuresSkilled in modern development principles (Agile, SOLID, TDD, design patterns, IoC)At least theoretical knowledge - know-SQL database (exampleAzure Cosmos)Good to have - Ideally experience of Azure, MVVM, microservices, message bus, containerisation, serverless.Microsoft .Net development stack, C#, MVC, .Net Core, SQL, front-end frameworks, jQuery, React, Entity framework, Linq, TFS, GIT, Data structures, Agile, SOLID, TDD, design patterns, IoC, SQL database, Azure Cosmos, Azure, MVVM, microservices, message bus, containerisation, serverless',
 "About the roleWe are looking for skilled motivated professionals who will support and own multiple projects globally that drive business growth while still balancing compliance risk and partner friction. The role will cover areas such as (not limited to) Sanctions screening; Partner and user compliance; Customer due diligence; Transaction monitoring; Metrics development and monitoring; and Model and Strategy development - to help balance partner friction and compliance riskWhat you'll doDevelop and manage user risk rating models that meet applicable regulatory requirements and are aligned with standard methodologies and practices. Interpret large amounts of complex data to formulate problem statements, concise conclusions regarding underlying risk dynamics, trends, and opportunities Identify key risk indicators and metrics while developing and monitoring key parameters, enhance reporting, and identify new areas of analytic focus to better understand operational risk.Own compliance specific area - end to end - ranging from the discovery of the business problem to eventually working with the Engineering/Product teams to execute it Strategy design and analysis of domain-specific use-cases such as Reduction of cost of compliance;Improve monitoring mechanism to alert any anomaly in compliance or business metric; Improve funnel for Partner onboarding, thereby improving user experience; and Drive multiple experiments to evaluate and quantify the hypothesis Extensive data analytics and SQL query writing Predictive modeling / Machine learning algorithms - using random Forest / Decision tree / Logistic regressionKey Qualifications6 years of proven experience in a data-focused role such as product analytics, business analytics, business operations, or data science Education in Engineering, Computer Science, Math, Economics, Statistics or equivalent experience Past experience in Payments or Compliance with a Product / Tech company serving millions of customers on multiple platforms and countries BA/BS in Mathematics, Statistics, Computer Science, Economics, Business or analytical field SQL mastery.Write efficient and complex code in SQL Experience in Python/R and in experimentation, A/B testing, and statistical modeling Define business metrics, including Key Performance Indicators, for financial products, in close partnership with Product Management and other leaders Proven ability to handle large datasets, explore and utilize raw data feedsExcellent data visualization skills Love of data - you just go get the data you need and turn it into an insightful story. You know how to convert data into decisions without getting stuck in paralysis by analysis A well-organized, structured approach to problem-solvingStrong sense of ownership, accountability, and entrepreneurial spirit Able to lead change and solution-oriented Great communicator, problem-solver confident in decision making Independent autonomous, while still a strong teammate Enthusiastic, self-starting and thrives in changing, agile environment.",

In [174]:
#Create DataFrame

df = pd.DataFrame()
df['Title'] = Title[:10]
df['Location'] = Location[:10]
df['Company'] = Name[:10]
df['Job description'] = job_desc[:10]


df

,Title,Location,Company,Job description
0,Senior Data Scientist,,SYMBIOSIS International W.L.L,Required Candidate profileWe are looking for a...
1,Senior Data Scientist,,Datamatics Global Services Ltd,Roles and ResponsibilitiesDetails in lined for...
2,DATA SCIENTIST,,McAfee Software (India) Pvt. Ltd,"Data Scientist Primary Location India, Bangalo..."
3,"Data Engineers , Data Scientist and SAP",,Teamware Solutions,Dynamic recruiting professional with 7 - 10 ye...
4,Python - Data Scientist,,Mindtree Limited,Basic Qualifications3-5 years of hands-on expe...
5,Software Developer - Data Scientist / NLP / Ma...,,Cunesoft India Private Limited,Dear CandidatesWe are looking for a competent ...
6,Data scientist,,Uber,About the roleWe are looking for skilled motiv...
7,Senior Associate - Data Scientist,,Novotree Minds Consulting Pvt Limited,Roles and ResponsibilitiesAs a Senior Associat...
8,Senior Data Scientist,,IBM India Pvt. Limited,-
9,Senior Data Scientist,,Publicis Groupe,"Work location: Bengaluru (Currently, Remote)Sh..."

## Q3: In this question you have to scrape data using the filters available on the  webpage as shown below:

In [73]:
#Getting url
page2 = driver.get('https://www.naukri.com/')

In [74]:
#Fill job search field and send keys
job_search = driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys('Data Scientist')

#Click search button
search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [76]:
#Filter location 'Delhi'
f_loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
f_loc.click()

In [77]:
#filter salary '3-6 lakhs'
f_salary =  driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
f_salary.click()

In [83]:
#Find elments
job = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

job_titles = []#empty list 

for i in job[:10]:
    job_titles.append(i.text)
job_titles
#scrape job titles

['Immediate Openings For DATA Scientist with 6 To 7 yrs of Experience',
 'Data Scientist/Data Analyst /Business Analyst',
 'Senior Data Scientist - Noida',
 'Data Scientist / Data Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist - Machine Learning/NLP']

In [85]:
#Create Dataframe
df = pd.DataFrame()
df['Job Titles'] = job_titles
df

                                          Job Titles
0  Immediate Openings For DATA Scientist with 6 T...
1      Data Scientist/Data Analyst /Business Analyst
2                      Senior Data Scientist - Noida
3                      Data Scientist / Data Analyst
4  Only Fresher / Data Scientist / Data Analyst /...
5                                     Data Scientist
6                              Senior Data Scientist
7                                     Data Scientist
8              Data Scientist - Machine Learning/NLP
9              Data Scientist - Machine Learning/NLP

## Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [181]:
#Getting url
page3 = driver.get('https://www.glassdoor.co.in/index.htm')

In [184]:
#click sign in button
sign_in = driver.find_element_by_xpath("/html/body/div[2]/div/div/div/div/div[1]/article/header/nav/div[2]/div/div/div/button").click()
time.sleep(3)

#mail for sign in
mail = driver.find_element_by_xpath('//*[@id="userEmail"]')
mail.send_keys('milinr58@gmail.com')
time.sleep(2)

#password
passw = driver.find_element_by_xpath('//*[@id="userPassword"]')
passw.send_keys('Glasor@123')
time.sleep(2)

#click enter button
btn = driver.find_element_by_xpath('/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[3]/div[1]/button').click()

In [188]:
#fill job search field 
job_search = driver.find_element_by_xpath('//*[@id="sc.keyword"]')
job_search.send_keys('Data Scientist')

#fill location search field
loc_search = driver.find_element_by_xpath('//*[@id="sc.location"]')
loc_search.clear()
time.sleep(2)
loc_search.send_keys('Noida')

In [189]:
#Click search button
btn = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/button')
btn.click()

In [203]:
company = []#empty list 
days = []#empty list 

#Find elments
comp_name = driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]')
days_ago = driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
rating = driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')

for i in comp_name[:10]:
    company.append(i.text) #scrape company name

for j in days_ago[:10]:
    days.append(j.text) #scrape description

In [209]:
ratings = []#empty list 
for k in rating:
    ratings.append(k.text)
#scrape ratings

In [210]:
#Create Dataframe
df = pd.DataFrame()

df['Company'] = company[:10]
df['Duration'] = days[:10]
df['Rating'] = ratings[:10]

df

                                Company Duration Rating
0  Liberin Technologies Private Limited      10d    3.8
1                          Pixel Vision      21d    3.3
2                Data Trained Education      24h    4.1
3                                 Crowe     30d+    4.1
4                       Newgen Software      21d    5.0
5          Salasar New Age Technologies     30d+    4.1
6                              Ericsson       5d    3.1
7                        Biz2Credit Inc             3.8
8                              Techlive     30d+    3.8
9                              Uncodemy       1d    3.7

## Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
## You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [215]:
#Getting url
page4 = driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [216]:
#fill job search field 
job_search = driver.find_element_by_id('KeywordSearch')
job_search.send_keys('Data Scientist')

#clear the location field
driver.find_element_by_id('LocationSearch').clear()

#fill location search field
loc_search = driver.find_element_by_id('LocationSearch')
loc_search.send_keys('Noida')

#click search button
btn = driver.find_element_by_id('HeroSearchButton')
btn.click()

In [86]:
#There is an window coming for filling a review or salary to the website called glassdoor

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. Discount %

In [4]:
#Getting url
page5 = driver.get('https://www.flipkart.com/')

In [5]:
#fill product search field
pro_search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
pro_search.send_keys('sunglasses')
time.sleep(2)

#click search button
btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
btn.click()

In [6]:
brand = []#empty list 
description = []#empty list 
price =[]#empty list 
discount = []#empty list

In [7]:
brand_name = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_name:
    brand.append(i.text)
time.sleep(3) #scrape brand name

desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for j in desc:
    description.append(j.text)
time.sleep(3) #scrape description

pro_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for k in pro_price:
    price.append(k.text)
time.sleep(3) #scrape product price
 
pro_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
for l in pro_discount:
    discount.append(l.text)
time.sleep(5) #scrape product discount

next_b = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_b.click() #click next button for next page
time.sleep(10)

In [8]:
brand_name = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_name:
    brand.append(i.text)  #scrape brand name
time.sleep(3)

desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for j in desc:
    description.append(j.text) #scrape description
time.sleep(3)

pro_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for k in pro_price:
    price.append(k.text) #scrape product price
time.sleep(3)

pro_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
for l in pro_discount:
    discount.append(l.text) #scrape product discount

next_b = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_b.click() #click next button for next page
time.sleep(10)

In [9]:
brand_name = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_name:
    brand.append(i.text) #scrape brand name
time.sleep(3)

desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for j in desc:
    description.append(j.text) #scrape description
time.sleep(3)

pro_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for k in pro_price:
    price.append(k.text #scrape product price
time.sleep(3)

pro_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
for l in pro_discount:
    discount.append(l.text) #scrape product discount

In [14]:
#Create Dataframe
df = pd.DataFrame()

df['Brand'] = brand[:100]
df['Specification'] =description[:100]
df['Price'] = price[:100]
df['Discount'] = discount[:100]

df

,Brand,Specification,Price,Discount
0,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹199,86% off
1,Wrogn,Mirrored Wayfarer Sunglasses (51),₹739,71% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599,25% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699,22% off
...,...,...,...,...
95,NuVew,UV Protection Rectangular Sunglasses (58),₹274,82% off
96,kingsunglasses,UV Protection Cat-eye Sunglasses (60),₹349,78% off
97,PHENOMENAL,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹379,81% off
98,ROYAL SON,UV Protection Aviator Sunglasses (Free Size),₹474,68% off
99,NuVew,UV Protection Round Sunglasses (Free Size),₹380,73% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [3]:
#Getting url
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [4]:
#click show all reviews
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span').click()

In [5]:
rating = []#empty list 
review = []#empty list 
f_review = []#empty list

In [8]:
#Find elments
ratings = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
reviews = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
f_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

for i in ratings:
    rating.append(i.text) #scrape  ratings
time.sleep(2) 

for j in reviews:
    review.append(j.text) #scrape reviews
time.sleep(2) 

for k in f_reviews:
    f_review.append(k.text) #scrape full Reviews

In [7]:
url= []#empty list 
urls = driver.find_elements_by_xpath('//a[@class="ge-49M"]')

for i in urls:
    url.append(i.get_attribute('href')) #get reviews

In [9]:
for i in url:
    driver.get(i)
    try:
        ratings = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
    except:
        rating.append('--') #scrape ratings from all url's

In [10]:
for i in url:
    driver.get(i)
    reviews = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    f_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    
    for j in reviews:
        review.append(j.text)  #scrape reviews from all url's
        time.sleep(3)
    for k in f_reviews:
        f_review.append(k.text) #scrape full reviews from all url's

In [12]:
#Create Dataframe
df = pd.DataFrame()

df['Rating'] = rating[:100]
df['Short review'] = review[:100]
df['Review'] = f_review[:100]

df

,Rating,Short review,Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,4,Worth every penny,Here is the thing\n\nThe only reason why you s...
96,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
97,5,Nice product,If you are looking for a premium phone under 5...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Classy product,We are on apple ecosystem for almost eight yea...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. discount %

In [55]:
#Getting url
page7 = driver.get('https://www.flipkart.com/')

In [56]:
#fill up search field 
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')

#click search button
btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
btn.click()

In [57]:
brand = []#empty list 
desc = []#empty list 
price = []#empty list 
discount = []#empty list

In [58]:
#Find elments
brand_name = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
pro_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
disc = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in brand_name:
    brand.append(i.text) #scrape brand name
time.sleep(3)
for i in description:
    desc.append(i.text) #scrape description
time.sleep(3)
for i in pro_price:
    price.append(i.text) #scrape product price
time.sleep(3)
for i in disc:
    discount.append(i.text) #scrape discount

In [59]:
urls = []#empty list 
url = driver.find_elements_by_xpath('//a[@class="ge-49M"]')
for i in url:
    urls.append(i.get_attribute('href'))
urls #scrape next page url's from the page

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [60]:
for i in urls[:2]:
    driver.get(i) #get elements 
    brand_name = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    pro_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    disc = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

    for i in brand_name:
        brand.append(i.text) #scrape brand name from url's
    time.sleep(3)
    for i in description:
        desc.append(i.text) #scrape description from url's
    time.sleep(3)
    for i in pro_price:
        price.append(i.text) #scrape product price from url's
    time.sleep(3)
    for i in disc:
        discount.append(i.text) #scrape discount from url's

In [61]:
#Create Dataframe
df= pd.DataFrame()

df['Brand'] = brand[:100]
df['Product Description'] = desc[:100]
df['Price'] = price[:100]
df['Discount'] = discount[:100]

df

,Brand,Product Description,Price,Discount
0,DUCATI,Sneakers For Men,"₹1,289",65% off
1,Bata,CASIO Sneakers For Men,"₹1,048",38% off
2,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
3,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹420,71% off
4,Magnolia,Sneakers For Men,₹356,64% off
...,...,...,...,...
95,Wrogn,Sneakers For Men,"₹1,059",52% off
96,Robbie jones,Classic Sneakers For Men,₹474,59% off
97,Numenzo,Flex Renew SlipOn Sneakers For Men,₹407,87% off
98,luxury fashion,"Casual , Partywear Sneakers Shoes For Men's An...",₹379,69% off
99,luxury fashion,SB FC STANDARD Sneakers For Men,₹399,60% off

### Q.9 Go to the link - https://www.myntra.com/shoes And then scrape First 100 shoes data you get.

In [79]:
#Getting url
page8 = driver.get('https://www.myntra.com/shoes')

In [80]:
#filter price “Rs. 6649 to Rs. 13099”
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()
time.sleep(5)
#filter colour to black
colour_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [81]:
brand = []#empty list 
desc = []#empty list
price = []#empty list

In [68]:
#Find elments
brandname = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
description = driver.find_elements_by_xpath('//h4[@class="product-product"]')
pprice = driver.find_elements_by_xpath('//div[@class="product-price"]')

for i in brandname:
    brand.append(i.text) #scrape brand name
time.sleep(3)
for i in description:
    desc.append(i.text) #scrape description
time.sleep(3)
for i in pprice:
    price.append(i.text.strip) #scrape product price

In [72]:
#Click next button
next_b = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a').click()

In [73]:
brandname = driver.find_elements_by_xpath('//h3[@class="product-brand"]') #scrape elements 
description = driver.find_elements_by_xpath('//h4[@class="product-product"]')
pprice = driver.find_elements_by_xpath('//div[@class="product-price"]')

for i in brandname:
    brand.append(i.text) #scrape brand name
time.sleep(3)
for i in description:
    desc.append(i.text) #scrape description
time.sleep(3)
for i in pprice:
    price.append(i.text) #scrape product price

In [74]:
#Create Dataframe
df= pd.DataFrame()

df['Brand'] = brand
df['Product Description'] = desc
df['Price'] = price

df

           Brand             Product Description                        Price
0           ALDO               Men Driving Shoes                    Rs. 11999
1           Nike   LEBRON XVIII Basketball Shoes  Rs. 11436Rs. 17595(35% OFF)
2      J.FONTINI    Men Textured Leather Loafers                     Rs. 6990
3   UNDER ARMOUR    Men Charged Bandit 6 Running                     Rs. 8999
4           Puma  Men Cell Fraction Fade Running                     Rs. 6999
..           ...                             ...                          ...
95          Nike          Women AIR ZOOM Running   Rs. 8771Rs. 13495(35% OFF)
96          Geox    Men Leather Slip-On Sneakers                     Rs. 9490
97          Geox         Women Flatform Sneakers                     Rs. 9999
98          Geox       Men Leather Driving Shoes                     Rs. 9990
99        VIONIC           Men Textured Sneakers   Rs. 7039Rs. 10999(36% OFF)

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/ and scrape first 10 laptops data

In [15]:
#Getting url
page9  =  driver.get(' https://www.amazon.in/')

In [16]:
# fill up search box 
search = driver.find_element_by_id('twotabsearchtextbox')
search.send_keys('Laptop')
time.sleep(3)
#click button
btn = driver.find_element_by_id('nav-search-submit-button')
btn.click()

In [17]:
#filter cpu to intel i7
filter_cpu1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/div/label/i').click()

In [18]:
#filter cpu to intel i9
filter_cpu2 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a/div/label/i').click()

In [19]:
title = []#empty list
price = []#empty list

In [20]:
#Find elments
titles = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
pprice = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

for i in titles:
    title.append(i.text) #scrape product titles
time.sleep(2)

for i in pprice:
    price.append(i.text) #scrape product price

In [22]:
ratinglinks = []#empty list

ratings_link = driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
time.sleep(3)

for i in ratings_link:#scraping ratings list
    ratinglinks.append(i.get_attribute('href'))

In [24]:
rating = []#empty list

for i in ratinglinks[:10]:
    driver.get(i)
    time.sleep(2)
    try: 
        ratings = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        rating.append(ratings.text)#scraping rating of the products
    except:
        rating.append('-')

In [25]:
#Create Dataframe
df = pd.DataFrame()
df['Title'] = title[:10]
df['Rating'] = rating[:10]
df['Price'] = price[:10]

df

                                               Title        Rating     Price
0  Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...  2.9 out of 5  1,80,990
1  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  4.5 out of 5  1,07,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.4 out of 5    59,490
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...  4.3 out of 5    84,990
4  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....  3.6 out of 5    81,990
5  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...    4 out of 5    71,990
6  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  3.8 out of 5    34,990
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    4 out of 5    90,490
8  Dell Inspiron 5502 15.6" FHD AG Display Laptop...    5 out of 5    85,890
9  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...             -    44,999