### Q1 . Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\admin\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests) (1.25.11)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)

In [4]:
headings = soup.find_all(['h1', 'h2', 'h3','h4','h5','h6'])
headings

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

In [5]:
main_headings = []
for i in headings:
    main_headings.append(i.text.replace('\n',''))
main_headings

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

### Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [6]:
page1 = requests.get('https://www.imdb.com/list/ls091520106/')
soup = BeautifulSoup(page1.content)

In [7]:
movies = soup.find_all('h3', class_ ="lister-item-header")
movie_titles = []
for i in movies:
    for j in i.find_all('a'):
        movie_titles.append(j.text.replace('\n',''))
movie_titles

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [8]:
ratings = soup.find_all('div',class_="ipl-rating-star small")
Ratings = []

for i in ratings:
    Ratings.append(i.text.replace('\n',''))
Ratings

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [9]:
release_year = soup.find_all('h3',class_ = 'lister-item-header')
Y_O_R = []

for i in release_year:
    for j in i.find_all('span' , class_ = 'lister-item-year text-muted unbold'):
        Y_O_R.append(j.text.replace('\n',''))
Y_O_R

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [10]:
import pandas as pd
data = pd.DataFrame()
data['Movie Names'] = movie_titles
data['Rating'] = Ratings
data['Year of Release'] = Y_O_R

data

                            Movie Names Rating Year of Release
0              The Shawshank Redemption    9.3          (1994)
1                         The Godfather    9.2          (1972)
2                The Godfather: Part II      9          (1974)
3                       The Dark Knight      9          (2008)
4                          12 Angry Men      9          (1957)
..                                  ...    ...             ...
95                   North by Northwest    8.3          (1959)
96                   A Clockwork Orange    8.3          (1971)
97                               Snatch    8.3          (2000)
98  Le fabuleux destin d'Amélie Poulain    8.3          (2001)
99                              The Kid    8.3          (1921)

[100 rows x 3 columns]

### Q.3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [11]:
page3 = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
soup = BeautifulSoup(page3.content)

In [12]:
movie = soup.find_all('td',class_ = "titleColumn")
rating = soup.find_all('td',class_ = 'ratingColumn imdbRating')
release = soup.find_all('td',class_ = 'titleColumn')

In [13]:
Movies = []

for i in movie[:100]:
    for j in i.find_all('a'):
        Movies.append(i.text.strip().replace('\n',''))
Movies

['1.      Nayakan(1987)',
 '2.      Pariyerum Perumal(2018)',
 '3.      Anbe Sivam(2003)',
 '4.      C/o Kancharapalem(2018)',
 '5.      Golmaal(1979)',
 '6.      Apur Sansar(1959)',
 '7.      Pather Panchali(1955)',
 '8.      Manichitrathazhu(1993)',
 '9.      Kireedam(1989)',
 '10.      Natsamrat(2016)',
 '11.      96(2018)',
 '12.      Thevar Magan(1992)',
 '13.      Black Friday(2004)',
 '14.      Kumbalangi Nights(2019)',
 '15.      Visaaranai(2015)',
 '16.      3 Idiots(2009)',
 '17.      Drishyam 2(2021)',
 '18.      Soorarai Pottru(2020)',
 '19.      Jersey(2019)',
 '20.      Taare Zameen Par(2007)',
 '21.      Thalapathi(1991)',
 '22.      Asuran(2019)',
 '23.      Sarpatta Parambarai(2021)',
 '24.      Dangal(2016)',
 '25.      Kaithi(2019)',
 '26.      Ratsasan(2018)',
 '27.      Devasuram(1993)',
 '28.      Aparajito(1956)',
 '29.      Jaane Bhi Do Yaaro(1983)',
 '30.      Pyaasa(1957)',
 '31.      Vada Chennai(2018)',
 '32.      Peranbu(2018)',
 '33.      Guide(1965)',
 '34.      Thani Oruvan(2015)',
 '35.      Kannathil Muthamittal(2002)',
 '36.      Iruvar(1997)',
 '37.      Chupke Chupke(1975)',
 '38.      Spadikam(1995)',
 '39.      Agent Sai Srinivasa Athreya(2019)',
 '40.      Super Deluxe(2019)',
 '41.      Mahanati(2018)',
 '42.      Drishyam(2013)',
 '43.      Aruvi(2016)',
 '44.      Vikram Vedha(2017)',
 '45.      Khosla Ka Ghosla!(2006)',
 '46.      Tumbbad(2018)',
 '47.      Pudhu Pettai(2006)',
 '48.      Premam(2015)',
 '49.      Anniyan(2005)',
 '50.      Anand(1971)',
 '51.      Kaakkaa Muttai(2014)',
 '52.      Bangalore Days(2014)',
 '53.      Mudhalvan(1999)',
 '54.      Dhuruvangal Pathinaaru(2016)',
 '55.      Satya(1998)',
 '56.      Andhadhun(2018)',
 '57.      Papanasam(2015)',
 '58.      Soodhu Kavvum(2013)',
 '59.      Shahid(2012)',
 '60.      Jigarthanda(2014)',
 '61.      Gangs of Wasseypur(2012)',
 '62.      Pithamagan(2003)',
 '63.      Paan Singh Tomar(2012)',
 '64.      Bhaag Milkha Bhaag(2013)',
 '65.      Hera Pheri(2000)',
 '66.      Sairat(2016)',
 '67.      Talvar(2015)',
 '68.      Sholay(1975)',
 '69.      Swades: We, the People(2004)',
 '70.      Chak De! India(2007)',
 '71.      Ustad Hotel(2012)',
 '72.      Black(2005)',
 '73.      Drishyam(2015)',
 '74.      Zindagi Na Milegi Dobara(2011)',
 '75.      Jo Jeeta Wohi Sikandar(1992)',
 '76.      Maheshinte Prathikaaram(2016)',
 '77.      Mughal-E-Azam(1960)',
 '78.      Nil Battey Sannata(2015)',
 '79.      Charulata(1964)',
 '80.      Udaan(2010)',
 '81.      Theeran adhigaaram ondru(2017)',
 '82.      Article 15(2019)',
 '83.      A Wednesday(2008)',
 '84.      Queen(2013)',
 '85.      Masaan(2015)',
 '86.      Munna Bhai M.B.B.S.(2003)',
 '87.      Alai Payuthey(2000)',
 '88.      Sarfarosh(1999)',
 '89.      Baasha(1995)',
 '90.      Dil Chahta Hai(2001)',
 '91.      Chhichhore(2019)',
 '92.      OMG: Oh My God!(2012)',
 '93.      Roja(1992)',
 '94.      Rang De Basanti(2006)',
 '95.      Virumandi(2004)',
 '96.      Andaz Apna Apna(1994)',
 '97.      Lagaan: Once Upon a Time in India(2001)',
 '98.      Kahaani(2012)',
 '99.      Uri: The Surgical Strike(2018)',
 '100.      PK(2014)']

In [14]:
Ratings = []

for i in rating[:100]:
    Ratings.append(i.text.replace('\n',''))
Ratings

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [15]:
Release = []
for i in release[:100]:
    for j in i.find_all('span'):
        Release.append(j.text.replace('\n',''))
Release

['(1987)',
 '(2018)',
 '(2003)',
 '(2018)',
 '(1979)',
 '(1959)',
 '(1955)',
 '(1993)',
 '(1989)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2004)',
 '(2019)',
 '(2015)',
 '(2009)',
 '(2021)',
 '(2020)',
 '(2019)',
 '(2007)',
 '(1991)',
 '(2019)',
 '(2021)',
 '(2016)',
 '(2019)',
 '(2018)',
 '(1993)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(2018)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1997)',
 '(1975)',
 '(1995)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(2013)',
 '(2016)',
 '(2017)',
 '(2006)',
 '(2018)',
 '(2006)',
 '(2015)',
 '(2005)',
 '(1971)',
 '(2014)',
 '(2014)',
 '(1999)',
 '(2016)',
 '(1998)',
 '(2018)',
 '(2015)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2012)',
 '(2003)',
 '(2012)',
 '(2013)',
 '(2000)',
 '(2016)',
 '(2015)',
 '(1975)',
 '(2004)',
 '(2007)',
 '(2012)',
 '(2005)',
 '(2015)',
 '(2011)',
 '(1992)',
 '(2016)',
 '(1960)',
 '(2015)',
 '(1964)',
 '(2010)',
 '(2017)',
 '(2019)',
 '(2008)',
 '(2013)',
 '(2015)',
 '(2003)',
 '(2000)',
 '(1999)',
 '(1995)',
 '(2001)',
 '(2019)',
 '(2012)',
 '(1992)',
 '(2006)',
 '(2004)',
 '(1994)',
 '(2001)',
 '(2012)',
 '(2018)',
 '(2014)']

In [16]:
import pandas as pd

data = pd.DataFrame()
data['Movie Names'] = Movies
data['Ratings'] = Ratings
data['Year of Release'] = Release 

data

                                         Movie Names Ratings Year of Release
0                              1.      Nayakan(1987)     8.5          (1987)
1                    2.      Pariyerum Perumal(2018)     8.5          (2018)
2                           3.      Anbe Sivam(2003)     8.5          (2003)
3                    4.      C/o Kancharapalem(2018)     8.5          (2018)
4                              5.      Golmaal(1979)     8.5          (1979)
..                                               ...     ...             ...
95                    96.      Andaz Apna Apna(1994)     8.1          (1994)
96  97.      Lagaan: Once Upon a Time in India(2001)     8.1          (2001)
97                            98.      Kahaani(2012)     8.1          (2012)
98           99.      Uri: The Surgical Strike(2018)     8.1          (2018)
99                                100.      PK(2014)     8.1          (2014)

[100 rows x 3 columns]

### Q.4 Write a python program to scrap book name, author name, genre and book review of any 5 books from
'www.bookpage.com'

In [17]:
page4 = requests.get('https://bookpage.com/reviews/')
soup = BeautifulSoup(page4.content,'html.parser')

In [18]:
book = soup.find_all('h4', class_="italic")
author = soup.find_all('p',class_="sans bold")
genre = soup.find_all('p',class_="genre-links hidden-phone")

In [19]:
Book_Name = []
Author_Name = []
Genre = []
Review = []

In [20]:
for i in book[:5]:
    for j in i.find_all('a'):
        Book_Name.append(j.text.replace('\n','').replace('★',''))
Book_Name

['  I Am the Subway',
 'Being Clem',
 '  How to Find Your Way in the Dark',
 'Hold Fast Through the Fire',
 'A Good Day for Chardonnay']

In [21]:
for i in author[:5]:
    Author_Name.append(i.text.replace('\n',''))
Author_Name

['Kim Hyo-eun, Deborah Smith',
 'Lesa Cline-Ransome',
 'Derek B. Miller',
 'K.B. Wagers',
 'Darynda Jones']

In [22]:
for i in genre[:5]:
    Genre.append(i.text.replace('\n',''))
Genre

["Children's / Children's Picture Book",
 "Children's / Middle Grade",
 'Fiction / Coming of Age',
 'Science Fiction & Fantasy / Science Fiction',
 'Mystery & Suspense / Mystery']

In [23]:
url_tags = soup.find_all('h4', class_="italic")
url_tags[:5]

[<h4 class="italic">
 <a href="/reviews/26487-kim-hyo-eun-i-am-subway-childrens"> <span style="font-style:normal;">★ </span>I Am the Subway</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26484-lesa-cline-ransome-being-clem-childrens">Being Clem</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction"> <span style="font-style:normal;">★ </span>How to Find Your Way in the Dark</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26544-k-b-wagers-hold-fast-through-fire-science-fiction-fantasy">Hold Fast Through the Fire</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26542-darynda-jones-good-day-chardonnay-mystery-suspense">A Good Day for Chardonnay</a>
 </h4>]

In [24]:
urls = []

for i in url_tags[:5]:
    for j in i.find_all('a',href = True):
        urls.append(j['href'])
urls

['/reviews/26487-kim-hyo-eun-i-am-subway-childrens',
 '/reviews/26484-lesa-cline-ransome-being-clem-childrens',
 '/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction',
 '/reviews/26544-k-b-wagers-hold-fast-through-fire-science-fiction-fantasy',
 '/reviews/26542-darynda-jones-good-day-chardonnay-mystery-suspense']

In [25]:
Review = []

for i in urls[:5]:
    book = requests.get('https://bookpage.com'+i)
    soup = BeautifulSoup(book.content,'html.parser')
    rev = soup.find('div',class_="article-body")
    Review.append(rev.text.replace('\n',''))
Review

['Kim Hyo-eun’s splendid picture book, originally published in South Korea in 2016 and translated into English by Deborah Smith, is told from the perspective of a subway train in Seoul: “Carrying people from one place to another, I travel over the ground and rumble under, twice across the wide Han River.” Three full spreads introduce us to this unique voice before we even arrive at the title page. \xa0Everyone has a story, and the train listens to and observes its passengers closely, capturing the nuances of the personalities who board at many stations. There’s Mr. Wanju, always running for the train so that he can spend as much time as possible at home with his daughter. There’s Mr. Jae-sung, a cobbler who “can tell so much about a person just from looking at their shoes.” There’s Na-yoon, a student taking classes after school who is “so tired she’s barely awake.” In alternating spreads that briefly shift among the different riders’ points of view, we follow these characters into their lives beyond the subway’s cars.Thanks to the subway train’s musings, readers gain poignant glimpses into the joys, sorrows and hopes of these passengers. The train’s voice is tender and compassionate, and the sound of its movement, “ba-dum, ba-dum, ba-dum, ba-dum,” is a refrain that anchors the book.\xa0Early spreads feature smudgy faces in shadow, but the faces of the riders whom the subway introduces are distinct and detailed. Kim’s eloquent, fine-lined watercolor illustrations capture the commuters’ humanity and the beauty in what might otherwise be dismissed as mundane. In a striking closing spread, “a gentle afternoon light . . . washes over everything,” and the image’s composition draws our attention not to the subway riders in the upper left-hand corner of the spread but to the light hitting the floor of the car—the extraordinary amid the ordinary.\xa0A poetic tribute to Seoul and its people, I Am the Subway makes for an unforgettable journey. Ba-dum, ba-dum, ba-dum, ba-dum.',
 "On the very first page of Lesa Cline-Ransome’s Being Clem, a knock at the door brings terrible news: Clem’s father has been killed in the 1944 shipyard munitions accident that will become known as the Port Chicago disaster. Clem’s mother, unable to find anyone willing to hire a Black secretary, is soon behind on the rent, and his older sisters, busy with friends and boys, have little time for their little brother’s grief.\xa0When Clem skips a grade to attend middle school, he begins hanging out with Lymon, a new boy in town. But when Lymon begins to bully another new boy, Langston, who shares Clem's affinity for the local public library, Clem must make a difficult choice. Should he go along with Lymon, despite his misgivings, or stand up for the new boy—but risk losing a friend in the process?As if all this weren’t enough for one boy to deal with, Clem's swimming lessons aren’t going smoothly either. How can Clem grow up to be a Navy man like his father when he’s afraid of the pool? Clem may know all the answers in school, but there's still so much he doesn't understand.Although Being Clem can be read independently, fans of Cline-Ransome’s previous books Finding Langston (which received a Coretta Scott King Honor) and Leaving Lymon will appreciate the daring narrative choice to place Clem in friendships with her two previous protagonists—who are, in turn, one another's enemies.\xa0Cline-Ransome also fills Being Clem with rich details from 1940s Chicago, including the real-life, award-winning DuSable High School swim team, whose members were Black and against whom some white teams refused to compete. Cline-Ransome explores societal issues of race, class and gender alongside Clem's more internal struggles to express difficult emotions like fear and sadness. Being Clem gains poignancy from Clem’s personal journey as he mourns the father for whom he is named and whose legacy he hopes he will one day honor.\xa0ALSO IN BOOKPAGE: Being Clem author Lesa Cline-Ransome reveals the real-life inspiration behind Clem and his friends. ",
 'Prepare for surprises galore in How to Find Your Way in the Dark, a rollicking novel that begins with a lonely truck ride in New England in 1938 and follows its characters through a decade of fascinating history. Just when you think the story is heading one way, it veers in another, completely unexpected direction.Twelve-year-old Sheldon Horowitz and his father are driving home from Hartford, Connecticut, to Whately, Massachusetts, after honoring the one-year anniversary of Sheldon’s mother’s death. She and her sister died in a horrific movie theater fire in Hartford. And as if that isn’t enough tragedy for the novel’s first 13 pages, a truck purposely forces Sheldon and his father’s car off the road during their return trip, and Sheldon’s father dies.Readers of Derek B. Miller’s award-winning thriller, Norwegian by Night, will recognize Sheldon as that novel’s 82-year-old protagonist. As a Tom Sawyer-like boy in How to Find Your Way in the Dark, Sheldon is determined to make sense of his double tragedies, and his attempts to do so take the reader on one hell of a ride. As he seeks out the leering, mustached truck driver who killed his father, his quest leads him straight into danger—think mobsters, guns and jewel thefts.Miller has crafted a wide-ranging, years-spanning yet tightly structured plot, and he excels at placing memorable characters in unusual circumstances. Sheldon is joined in his adventures by his two older cousins, Abe and Mirabelle, and his best friend, Lenny, all of whom play pivotal roles. One summer, Lenny and Sheldon end up as bellhops at the famed Grossinger’s Resort in the Catskills, where Lenny practices standup comedy amid the glamorous, bustling atmosphere.An underlying seriousness lies at the heart of all of this intrigue, hilarity and fun. Sheldon, Abe, Mirabelle and Lenny, all Jewish, must confront the many faces of antisemitism during the turbulent years of World War II. Miller weaves in a multitude of historical details, including reports of the horrors in Europe and America’s reluctance to intervene.The ending of How to Find Your Way in the Dark is nothing short of brilliant, tying up a variety of loose ends while making a powerful statement about the need to fully recognize and address antisemitism. Readers are left with much to ponder, including life’s many uncertainties and cruel twists of fate. Despite these unhappy truths, we are also left with the uplifting wisdom of Lenny’s urgent prayer: “Dear God, give me the strength to be joyful.”',
 'Looking for a quick bit of adrenaline, a spot of intrigue and the drama of an international sports event? Look no further than the second entry in K.B. Wagers’ NeoG series, Hold Fast Through the Fire.This second book in the author’s military science fiction series picks up roughly a year after the events of A Pale Light in the Black. The crew of Zuma’s Ghost have achieved a repeat victory at the intermilitary Boarding Games, which was quite an achievement given that the Near-Earth Orbital Guard (NeoG) are looked down upon by other branches of the armed forces. Zuma’s Ghost is facing a change of staff, and everyone is uneasy about what that means for the future of the ship. The prelims for the next year’s Games are fast approaching, and the Ghost has been put on a new task force to investigate potential smuggling issues from off-world settlements.Nika, still off balance from the loss of his hand, is apprehensive about his new command on Zuma’s Ghost, despite the fact that it was the ship where he cut his teeth as a budding lieutenant. His budding romance with Maxine Carmichael is on the rocks, and to make things worse, he has accepted a secret assignment that will put both Max’s and the crew’s trust to the test. Chae, Zuma’s Ghost’s new pilot, has issues of their own. Forced into the NeoG as part of a plea bargain, they are torn between their growing loyalty to their new crew and the need to keep their fathers safe from intergalactic intrigue. Meanwhile, Max is certain something is desperately wrong with Nika, Chae and their new assignment, but no one will back her up. With Nika effectively gaslighting her to throw her off the scent of his new top-secret mission, Max will have to hew closely to her own instincts if she is going to get the team through the prelims in one piece—let alone their official assignment.Unlike A Pale Light in the Black, Hold Fast Through the Fire’s central mystery begins unrolling nearly at page one, giving the book a more sinister feel than its predecessor and pulling readers into a labyrinthine plot that surprises and delights. This does take away slightly from the Games aspect of the series, but readers who enjoyed A Pale Light in the Black’s focus on the competition won’t be disappointed. When training for the Games does make its appearance, it still packs the same adrenaline-filled punch of A Pale Light in the Black. Despite the increase in intrigue, Wagers devotes ample attention to the relationships among the crew of Zuma’s Ghost. From the exploration of Jenks’ and Max’s close friendship to Chae’s struggles to fit in with the group to Nika’s battle to accept himself after his accident, Hold Fast Through the Fire is as much about found family and interpersonal relationships as it is about mysteries or the Boarding Games.This brilliant and entertaining installment in the NeoG universe is a great choice for readers looking for military drama, evocative writing and espionage.',
 'Readers who enjoy murder mysteries\xa0with lots of intertwined plotlines, quirky characters and zany hijinks topped off with a healthy dose of horniness will be delighted by bestselling author Darynda Jones’ A Good Day for Chardonnay.The small tourist town of Del Sol, New Mexico, is populated by unruly residents who are staunchly community-minded and happen to be, per Sheriff Sunshine Vicram’s hilariously lusty inner monologues, quite desirable. To wit, her chief deputy and BFF Quincy is “sexy feet, AF inches” tall. And her lifelong crush, local-badboy-turned-wealthy-distillery-owner Levi Ravinder? Well, he and his crime-aficionado family look “as though [they were] chiseled by the gods . . . [with] lean, solid bodies and razor-sharp jawlines.”But while Sunshine is often mightily distracted by eye candy, she’s also dedicated to—and excellent at—her job. She’s been back in town for four months after being away for 15 years, and she has multiple mysteries to solve. The newest include a bar fight gone terribly wrong; resurfaced cold cases with ties to her own traumatic past; and a raft of false confessions. On top of that, the mayor is pressuring her to figure out if the Dangerous Daughters secret society (rumored to have run the town for decades) is real or just local legend.And then there’s Sunshine’s daughter Auri, whom fans met in series kickoff A Bad Day for Sunshine. The smart, reckless teenager is determined to solve crimes just like her mom, and she pursues a sweet old lady who might be a serial killer. Auri is also Sunshine’s personal mystery: at 17, the sheriff was abducted by Levi’s uncle and held captive for five days, after which she emerged pregnant and with severe memory loss.Will Levi’s family finally answer Sunshine’s questions about her abduction? Can she catch the marauding raccoon that’s terrorizing the town? How are the cold cases tied to these complex new crimes? With her trademark warmth and humor, Jones answers some of these questions and raises even more, nicely teeing up the next installment in Sunshine’s complicated, sexy and highly entertaining life story.']

In [26]:
bd = pd.DataFrame()
bd['Book Name'] = Book_Name 
bd['Author'] = Author_Name 
bd['Genre'] = Genre 
bd['Review'] =  Review

bd

,Book Name,Author,Genre,Review
0,I Am the Subway,"Kim Hyo-eun, Deborah Smith",Children's / Children's Picture Book,"Kim Hyo-eun’s splendid picture book, originall..."
1,Being Clem,Lesa Cline-Ransome,Children's / Middle Grade,On the very first page of Lesa Cline-Ransome’s...
2,How to Find Your Way in the Dark,Derek B. Miller,Fiction / Coming of Age,Prepare for surprises galore in How to Find Yo...
3,Hold Fast Through the Fire,K.B. Wagers,Science Fiction & Fantasy / Science Fiction,"Looking for a quick bit of adrenaline, a spot ..."
4,A Good Day for Chardonnay,Darynda Jones,Mystery & Suspense / Mystery,Readers who enjoy murder mysteries with lots o...

# Q.5 Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [27]:
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

soup = BeautifulSoup(page5.content)

In [28]:
matches = []
points = []
rating = []

In [29]:
matches = []
match_1= soup.find_all('td',class_="rankings-block__banner--matches")
Rmatch = soup.find_all('td',class_="table-body__cell u-center-text")

In [30]:
for i in match_1:
    matches.append(i.text)
matches

['17']

In [31]:
re_matches = []
for i in Rmatch:
    re_matches.append(i.text)
re_matches

for i in range(0,len(re_matches),2):
    matches.append(re_matches[i])
matches

['17',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [32]:
points =  []
p_match1 = soup.find_all('td',class_="rankings-block__banner--points")
p_remain = soup.find_all('td',class_="table-body__cell u-center-text")

In [33]:
for i in p_match1:
    points.append(i.text)
points

['2,054']

In [34]:
remain_points = []
for i in p_remain:
    remain_points.append(i.text)
remain_points
    
for i in range(1,len(remain_points),2):
    points.append(remain_points[i])
points

['2,054',
 '3,793',
 '3,109',
 '3,624',
 '2,267',
 '2,524',
 '2,639',
 '2,458',
 '2,303',
 '1,054',
 '336',
 '1,067',
 '646',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [35]:
rating = []

r_match1 = soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
remain_rating = soup.find_all('td',class_="table-body__cell u-text-right rating")

In [36]:
for i in r_match1:
    rating.append(i.text.strip())
rating

['121']

In [37]:
for i in remain_rating:
    rating.append(i.text)
rating

['121',
 '119',
 '115',
 '113',
 '103',
 '93',
 '91',
 '85',
 '79',
 '62',
 '48',
 '46',
 '38',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [38]:
top_teams = []
teams = soup.find_all('span',class_="u-hide-phablet")

for i in teams[:20]:
    top_teams.append(i.text)
top_teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea']

In [39]:
import pandas as pd
df = pd.DataFrame()

In [40]:
df["Top Teams"] = top_teams
df['Matches'] = matches
df['Points']  = points
df['Rating']= rating

In [41]:
df.head(10)

      Top Teams Matches Points Rating
0   New Zealand      17  2,054    121
1       England      32  3,793    119
2     Australia      27  3,109    115
3         India      32  3,624    113
4  South Africa      22  2,267    103
5      Pakistan      27  2,524     93
6    Bangladesh      29  2,639     91
7   West Indies      29  2,458     85
8     Sri Lanka      29  2,303     79
9   Afghanistan      17  1,054     62

#### ii Top 10 ODI Batsmen in men along with the records of their team and rating.

In [42]:
subpage_1 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup = BeautifulSoup(subpage_1.content)

In [43]:
Players = []
Teams = []
Ranking = []

In [44]:
player_1 = soup.find_all('div',class_="rankings-block__banner--name-large")
rplayers = soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [45]:
for i in player_1:
    Players.append(i.text)
Players

['Babar Azam']

In [46]:
for i in rplayers:
    Players.append(i.text.replace('\n',''))
Players

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Quinton de Kock',
 'Shai Hope',
 'Kane Williamson',
 'Fakhar Zaman',
 'Joe Root',
 'Mushfiqur Rahim',
 'Imam-ul-Haq',
 'Martin Guptill',
 'Shikhar Dhawan',
 'Steve Smith',
 'Jason Roy',
 'Rassie van der Dussen',
 'Glenn Maxwell',
 'Tamim Iqbal',
 'Alex Carey',
 'Paul Stirling',
 'Ben Stokes',
 'Eoin Morgan',
 'Shakib Al Hasan',
 'Lokesh Rahul',
 'David Miller',
 'Tom Latham',
 'Nicholas Pooran',
 'Jos Buttler',
 'Shimron Hetmyer',
 'Haris Sohail',
 'Henry Nicholls',
 'Aqib Ilyas',
 'Andrew Balbirnie',
 'Kyle Coetzer',
 'Brendan Taylor',
 'Mahmudullah',
 'Kusal Perera',
 'Rahmat Shah',
 'Evin Lewis',
 'Litton Das',
 'Sean Williams',
 'Kedar Jadhav',
 'Angelo Mathews',
 'Hardik Pandya',
 'Sikandar Raza',
 'Danushka Gunathilaka',
 'Kusal Mendis',
 'Imad Wasim',
 'Avishka Fernando',
 'Soumya Sarkar',
 'Marcus Stoinis',
 'Calum MacLeod',
 'Colin de Grandhomme',
 'Najibullah Zadran',
 'Sarfaraz Ahmed',
 'Niroshan Dickwella',
 'Hashmatullah Shaidi',
 'Marnus Labuschagne',
 'Jimmy Neesham',
 'Mohammad Nabi',
 'Mitchell Marsh',
 'Janneman Malan',
 'Asghar Afghan',
 'Richard Berrington',
 'Shreyas Iyer',
 'Muhammad Usman',
 'William Porterfield',
 'Dhananjaya de Silva',
 'Mitchell Santner',
 'Craig Ervine',
 'Jason Holder',
 'Aiden Markram',
 'Temba Bavuma',
 'Heinrich Klaasen',
 'Andile Phehlukwayo',
 'Assad Vala',
 'Lahiru Thirimanne',
 'Harry Tector',
 'Ravindra Jadeja',
 'Mithun Ali',
 'Rashid Khan',
 'George Munsey',
 'Rishabh Pant',
 'Matthew Wade',
 'Rovman Powell',
 'Curtis Campher',
 'Dasun Shanaka',
 'Dinesh Chandimal',
 'Kieron Pollard',
 'Gulbadin Naib',
 'Mohammad Rizwan',
 'Tony Ura',
 'Moeen Ali',
 'Wanindu De Silva',
 'Chris Woakes',
 'Simi Singh',
 'Matthew Cross']

In [47]:
Teams = []

team_1 = soup.find_all('div',class_="rankings-block__banner--nationality")
rteam = soup.find_all('span',class_="table-body__logo-text")

In [48]:
for i in team_1:
    Teams.append(i.text.replace('\n','').strip())
Teams

['PAK']

In [49]:
for i in rteam:
    Teams.append(i.text)
Teams

['PAK',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'SA',
 'WI',
 'NZ',
 'PAK',
 'ENG',
 'BAN',
 'PAK',
 'NZ',
 'IND',
 'AUS',
 'ENG',
 'SA',
 'AUS',
 'BAN',
 'AUS',
 'IRE',
 'ENG',
 'ENG',
 'BAN',
 'IND',
 'SA',
 'NZ',
 'WI',
 'ENG',
 'WI',
 'PAK',
 'NZ',
 'OMA',
 'IRE',
 'SCO',
 'ZIM',
 'BAN',
 'SL',
 'AFG',
 'WI',
 'BAN',
 'ZIM',
 'IND',
 'SL',
 'IND',
 'ZIM',
 'SL',
 'SL',
 'PAK',
 'SL',
 'BAN',
 'AUS',
 'SCO',
 'NZ',
 'AFG',
 'PAK',
 'SL',
 'AFG',
 'AUS',
 'NZ',
 'AFG',
 'AUS',
 'SA',
 'AFG',
 'SCO',
 'IND',
 'UAE',
 'IRE',
 'SL',
 'NZ',
 'ZIM',
 'WI',
 'SA',
 'SA',
 'SA',
 'SA',
 'PNG',
 'SL',
 'IRE',
 'IND',
 'BAN',
 'AFG',
 'SCO',
 'IND',
 'AUS',
 'WI',
 'IRE',
 'SL',
 'SL',
 'WI',
 'AFG',
 'PAK',
 'PNG',
 'ENG',
 'SL',
 'ENG',
 'IRE',
 'SCO']

In [50]:
rank_1 = soup.find_all('div',class_="rankings-block__banner--rating")
r_rank = soup.find_all('td',class_="table-body__cell rating")

In [51]:
Ranking = []
for i in rank_1:
    Ranking.append(i.text)
Ranking

['873']

In [52]:
for i in r_rank:
    Ranking.append(i.text)
Ranking

['873',
 '844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '758',
 '754',
 '741',
 '740',
 '723',
 '717',
 '707',
 '704',
 '696',
 '687',
 '678',
 '674',
 '670',
 '669',
 '664',
 '651',
 '650',
 '641',
 '636',
 '632',
 '624',
 '615',
 '608',
 '607',
 '594',
 '581',
 '578',
 '575',
 '573',
 '572',
 '571',
 '560',
 '559',
 '558',
 '558',
 '553',
 '552',
 '550',
 '548',
 '540',
 '538',
 '526',
 '525',
 '522',
 '521',
 '517',
 '508',
 '507',
 '506',
 '504',
 '503',
 '498',
 '498',
 '495',
 '494',
 '489',
 '485',
 '479',
 '479',
 '472',
 '471',
 '471',
 '461',
 '460',
 '457',
 '446',
 '445',
 '443',
 '442',
 '439',
 '439',
 '436',
 '434',
 '434',
 '433',
 '432',
 '430',
 '426',
 '424',
 '419',
 '418',
 '418',
 '417',
 '416',
 '415',
 '414',
 '412',
 '404',
 '403',
 '403',
 '402',
 '398']

In [53]:
df = pd.DataFrame()

df['Player'] = Players 
df['Team'] = Teams
df['Ranking'] = Ranking

df.head(10)

            Player Team Ranking
0       Babar Azam  PAK     873
1      Virat Kohli  IND     844
2     Rohit Sharma  IND     813
3      Ross Taylor   NZ     801
4      Aaron Finch  AUS     779
5   Jonny Bairstow  ENG     775
6     David Warner  AUS     762
7  Quinton de Kock   SA     758
8        Shai Hope   WI     758
9  Kane Williamson   NZ     754

#### iii Top 10 ODI bowlers along with the records of their team and rating.

In [54]:
subpage_2 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup = BeautifulSoup(subpage_2.content)

In [55]:
Player = []

player1 = soup.find_all('div',class_="rankings-block__banner--name-large")
r_player = soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [56]:
for i in player1:
    Player.append(i.text)
Player

['Trent Boult']

In [57]:
for i in r_player:
    Player.append(i.text.replace('\n',''))
Player

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mustafizur Rahman',
 'Pat Cummins',
 'Shaheen Afridi',
 'Mohammad Amir',
 'Rashid Khan',
 'Adam Zampa',
 'Bhuvneshwar Kumar',
 'Lachlan Ferguson',
 'Jofra Archer',
 'Akila Dananjaya',
 'Yuzvendra Chahal',
 'Lungi Ngidi',
 'Mohammad Nabi',
 'Mark Wood',
 'Alzarri Joseph',
 'Mitchell Santner',
 'Mohammad Shami',
 'Kuldeep Yadav',
 'Ravindra Jadeja',
 'Sheldon Cottrell',
 'Ahmed Raza',
 'Andy McBrine',
 'Shadab Khan',
 'Dushmantha Chameera',
 'Wanindu De Silva',
 'Colin de Grandhomme',
 'Tabraiz Shamsi',
 'David Willey',
 'Tim Southee',
 'Andile Phehlukwayo',
 'Adil Rashid',
 'Ish Sodhi',
 'Mark Watt',
 'Imad Wasim',
 'Hasan Ali',
 'Usman Khan',
 'Jhye Richardson',
 'Rohan Mustafa',
 'Simi Singh',
 'Mashrafe Mortaza',
 'Mohammad Mohammad Saifuddin',
 'Safyaan Sharif',
 'Tendai Chatara',
 'Nuwan Pradeep',
 'Jimmy Neesham',
 'Saqib Mahmood',
 'Jason Holder',
 'Moeen Ali',
 'Wahab Riaz',
 'Faheem Ashraf',
 'Akeal Hosein',
 'Suranga Lakmal',
 'Sikandar Raza',
 'Blessing Muzarabani',
 'Tom Curran',
 'Ashton Agar',
 'Taskin Ahmed',
 'Anrich Nortje',
 'Josh Davey',
 'Joshua Little',
 'Craig Young',
 'Sean Williams',
 'Kane Richardson',
 'Ben Stokes',
 'Shardul Thakur',
 'Rubel Hossain',
 'Gulbadin Naib',
 'Hardik Pandya',
 'Alasdair Evans',
 'Keshav Maharaj',
 'Barry McCarthy',
 'Mitchell Marsh',
 'Dhananjaya de Silva',
 'Marcus Stoinis',
 'Lakshan Sandakan',
 'Taijul Islam',
 'Mohammad Nawaz',
 'Donald Tiripano',
 'Assad Vala',
 'Fred Klaassen',
 'George Dockrell',
 'Oshane Thomas',
 'Kyle Jamieson',
 'Michael Leask',
 'Zeeshan Maqsood',
 'Sharafuddin Ashraf',
 'Roston Chase',
 'Bilal Khan',
 'Saurabh Netravalkar',
 'Norman Vanua']

In [58]:
team1 = soup.find_all('div',class_="rankings-block__banner--nationality")
r_team = soup.find_all('span',class_="table-body__logo-text")

In [59]:
Team = []

for i in team1:
    Team.append(i.text.replace('\n','').strip())
for i in r_team:
    Team.append(i.text)
    
Team

['NZ',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'BAN',
 'AUS',
 'PAK',
 'PAK',
 'AFG',
 'AUS',
 'IND',
 'NZ',
 'ENG',
 'SL',
 'IND',
 'SA',
 'AFG',
 'ENG',
 'WI',
 'NZ',
 'IND',
 'IND',
 'IND',
 'WI',
 'UAE',
 'IRE',
 'PAK',
 'SL',
 'SL',
 'NZ',
 'SA',
 'ENG',
 'NZ',
 'SA',
 'ENG',
 '',
 'SCO',
 'PAK',
 'PAK',
 'PAK',
 'AUS',
 'UAE',
 'IRE',
 'BAN',
 'BAN',
 'SCO',
 'ZIM',
 'SL',
 'NZ',
 'ENG',
 'WI',
 'ENG',
 'PAK',
 'PAK',
 'WI',
 'SL',
 'ZIM',
 'ZIM',
 'ENG',
 'AUS',
 'BAN',
 'SA',
 'SCO',
 'IRE',
 'IRE',
 'ZIM',
 'AUS',
 'ENG',
 'IND',
 'BAN',
 'AFG',
 'IND',
 'SCO',
 'SA',
 'IRE',
 'AUS',
 'SL',
 'AUS',
 'SL',
 'BAN',
 'PAK',
 'ZIM',
 'PNG',
 'NED',
 'IRE',
 'WI',
 'NZ',
 'SCO',
 'OMA',
 'AFG',
 '',
 'OMA',
 'USA',
 'PNG']

In [60]:
rank1 = soup.find_all('div',class_="rankings-block__banner--rating")
r_rank = soup.find_all('td',class_="table-body__cell rating")

In [61]:
Ranking = []

for i in rank1:
    Ranking.append(i.text)

for i in r_rank:
    Ranking.append(i.text)

Ranking

['737',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '648',
 '640',
 '636',
 '630',
 '628',
 '626',
 '625',
 '621',
 '619',
 '609',
 '604',
 '603',
 '599',
 '596',
 '594',
 '592',
 '583',
 '566',
 '562',
 '550',
 '541',
 '531',
 '527',
 '517',
 '514',
 '508',
 '508',
 '501',
 '501',
 '500',
 '497',
 '497',
 '496',
 '490',
 '488',
 '483',
 '482',
 '480',
 '477',
 '473',
 '469',
 '468',
 '467',
 '465',
 '459',
 '458',
 '454',
 '451',
 '449',
 '447',
 '445',
 '443',
 '443',
 '440',
 '437',
 '436',
 '436',
 '434',
 '431',
 '427',
 '421',
 '421',
 '420',
 '416',
 '410',
 '405',
 '400',
 '399',
 '394',
 '394',
 '394',
 '391',
 '390',
 '388',
 '377',
 '376',
 '374',
 '370',
 '367',
 '361',
 '358',
 '357',
 '355',
 '352',
 '351',
 '350',
 '347',
 '347',
 '344',
 '343',
 '342']

In [62]:
df['Player'] = Player
df['Team'] = Team
df['Ranking'] = Ranking

df.head(10)

             Player Team Ranking
0       Trent Boult   NZ     737
1    Josh Hazlewood  AUS     709
2  Mujeeb Ur Rahman  AFG     708
3      Chris Woakes  ENG     700
4      Mehedi Hasan  BAN     692
5        Matt Henry   NZ     691
6    Jasprit Bumrah  IND     679
7    Mitchell Starc  AUS     652
8   Shakib Al Hasan  BAN     650
9     Kagiso Rabada   SA     648

# Q.6  Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [63]:
page6 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page6.content, 'html.parser')

In [64]:
t1 = soup.find_all('span',class_="u-hide-phablet")

In [65]:
Team = []

for i in t1[:10]:
    Team.append(i.text)
Team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [66]:
m1 = soup.find_all('td',class_="rankings-block__banner--matches")
m2 = soup.find_all('td',class_="table-body__cell u-center-text")

In [67]:
Matches = []

for i in m1:
    Matches.append(i.text)
Matches

['18']

In [68]:
r_match = []

for i in m2:
    r_match.append(i.text)
r_match

for i in range(0,len(r_match),2):
    Matches.append(r_match[i])
Matches

['18', '20', '24', '23', '21', '17', '20', '5', '11', '2']

In [69]:
p1 = soup.find_all('td',class_="rankings-block__banner--points")
p2 = soup.find_all('td',class_="table-body__cell u-center-text")

In [70]:
Points = []

for i in p1:
    Points.append(i.text)

Points

['2,955']

In [71]:
r_points = []

for i in p2:
    r_points.append(i.text)
r_points

for i in range(1,len(r_points),2):
    Points.append(r_points[i])
Points

['2,955',
 '2,370',
 '2,828',
 '2,535',
 '1,947',
 '1,427',
 '1,496',
 '306',
 '519',
 '25']

In [72]:
r1 = soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
r2 = soup.find_all('td',class_="table-body__cell u-text-right rating")

In [73]:
Rating = []

for i in r1:
    Rating.append(i.text.replace('\n','').strip())
for i in r2:
    Rating.append(i.text)
Rating

['164', '119', '118', '110', '93', '84', '75', '61', '47', '13']

In [74]:
df = pd.DataFrame()

df['Team'] = Team
df['Matches'] = Matches
df['Points'] = Points
df['Rating'] = Rating

df

           Team Matches Points Rating
0     Australia      18  2,955    164
1       England      20  2,370    119
2  South Africa      24  2,828    118
3         India      23  2,535    110
4   New Zealand      21  1,947     93
5   West Indies      17  1,427     84
6      Pakistan      20  1,496     75
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

#### ii) Top 10 women’s ODI players along with the records of their team and rating

In [75]:
subpage = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup = BeautifulSoup(subpage.content,'html.parser')

In [76]:
p1 = soup.find_all('div',class_="rankings-block__banner--name-large")
p2 = soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [77]:
Player = []

for i in p1:
    Player.append(i.text)
    
for i in p2[:9]:
    Player.append(i.text.replace('\n',''))
Player

['Mithali Raj',
 'Lizelle Lee',
 'Alyssa Healy',
 'Tammy Beaumont',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Natalie Sciver',
 'Smriti Mandhana',
 'Laura Wolvaardt']

In [78]:
t1 = soup.find_all('div',class_="rankings-block__banner--nationality")
t2 = soup.find_all('span',class_="table-body__logo-text")

In [79]:
Team = []

for i in t1:
    Team.append(i.text.replace('\n',''))
    
for i in t2[:9]:
    Team.append(i.text)
Team

['IND', 'SA', 'AUS', 'ENG', 'WI', 'AUS', 'NZ', 'ENG', 'IND', 'SA']

In [80]:
r1 = soup.find_all('div',class_="rankings-block__banner--rating")
r2 = soup.find_all('td',class_="table-body__cell rating")

In [81]:
rating = []

for i in r1:
    rating.append(i.text)
    
for i in r2[:9]:
    rating.append(i.text)
rating

['762', '758', '756', '754', '736', '723', '715', '706', '701', '683']

In [82]:
df = pd.DataFrame()

df['player'] = Player
df['team'] = Team
df['rating'] = rating

df

              player team rating
0        Mithali Raj  IND    762
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3     Tammy Beaumont  ENG    754
4    Stafanie Taylor   WI    736
5        Meg Lanning  AUS    723
6  Amy Satterthwaite   NZ    715
7     Natalie Sciver  ENG    706
8    Smriti Mandhana  IND    701
9    Laura Wolvaardt   SA    683

#### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [83]:
subpage1 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup = BeautifulSoup(subpage1.content,'html.parser')

In [84]:
p1 = soup.find_all('div',class_="rankings-block__banner--name-large")
p2 = soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [85]:
Player = []

for i in p1:
    Player.append(i.text)
    
for i in p2[:9]:
    Player.append(i.text.replace('\n',''))
Player

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Katherine Brunt']

In [86]:
t1 = soup.find_all('div',class_="rankings-block__banner--nationality")
t2 = soup.find_all('span',class_="table-body__logo-text")

In [87]:
Team = []

for i in t1:
    Team.append(i.text.replace('\n',''))
    
for i in t2[:9]:
    Team.append(i.text)
Team

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'ENG']

In [88]:
r1 = soup.find_all('div',class_="rankings-block__banner--rating")
r2 = soup.find_all('td',class_="table-body__cell rating")

In [89]:
rating = []

for i in r1:
    rating.append(i.text)
    
for i in r2[:9]:
    rating.append(i.text)
rating

['418', '418', '394', '365', '331', '307', '252', '243', '242', '239']

In [90]:
df = pd.DataFrame()

df['player'] = Player
df['team'] = Team
df['rating'] = rating

df

             player team rating
0    Marizanne Kapp   SA    418
1      Ellyse Perry  AUS    418
2   Stafanie Taylor   WI    394
3    Natalie Sciver  ENG    365
4     Deepti Sharma  IND    331
5     Jess Jonassen  AUS    307
6  Ashleigh Gardner  AUS    252
7  Dane van Niekerk   SA    243
8     Sophie Devine   NZ    242
9   Katherine Brunt  ENG    239

 # Q.7 Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [130]:
page7 = requests.get('https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_2')
soup = BeautifulSoup(page7.content,'html.parser')

In [131]:
Product = []
name = soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")

for i in name[:10]:
    Product.append(i.text)
Product

['Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor | Alexa Hands-Free Capable',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Redmi 9 Prime (Sunrise Flare, 4GB RAM, 64GB Storage)- Full HD+ Display & AI Quad Camera',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi Note 10 (Frost White, 4GB RAM, 64GB Storage) - Super Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor']

In [132]:
Price = []

price = soup.find_all('span',class_="a-price-whole")

for i in price[:10]:
    Price.append(i.text)
Price

['6,999',
 '8,999',
 '12,490',
 '13,499',
 '9,999',
 '16,999',
 '11,499',
 '9,999',
 '8,999',
 '12,999']

In [133]:
Image = []

url = soup.find_all('img',class_="s-image")
url

for i in url[:10]:
    Image.append(i.get('src'))
Image

['https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71U2SiHgbiL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY218_.jpg']

In [134]:
Rating = []

rating =soup.find_all('i',class_="a-icon a-icon-star-small a-star-small-4 aok-align-bottom")

for i in rating[:10]:
    Rating.append(i.text)
Rating

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars']

In [135]:
import pandas as pd
df = pd.DataFrame()

df['Product Name'] = Product
df['Price'] = Price
df['Image'] = Image
df['Rating'] = Rating

df

,Product Name,Price,Image,Rating
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
1,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....","8,999",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
2,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","12,490",https://m.media-amazon.com/images/I/61CnyJ-IbM...,4.2 out of 5 stars
3,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...","13,499",https://m.media-amazon.com/images/I/61LHaUOheh...,4.2 out of 5 stars
4,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...","9,999",https://m.media-amazon.com/images/I/710jkZNub3...,4.1 out of 5 stars
5,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","16,999",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.2 out of 5 stars
6,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","11,499",https://m.media-amazon.com/images/I/71X5I1cVfb...,4.1 out of 5 stars
7,"Redmi 9 Prime (Sunrise Flare, 4GB RAM, 64GB St...","9,999",https://m.media-amazon.com/images/I/71U2SiHgbi...,4.2 out of 5 stars
8,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","8,999",https://m.media-amazon.com/images/I/716nHhG9SW...,4.1 out of 5 stars
9,"Redmi Note 10 (Frost White, 4GB RAM, 64GB Stor...","12,999",https://m.media-amazon.com/images/I/71SSmaLA7x...,4.1 out of 5 stars

# Q.8 Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [97]:
page8 = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YQFxb0DhVPY')
soup = BeautifulSoup(page8.content,'html.parser')

In [98]:
period = []

p1 = soup.find_all('p',class_="period-name")

for i in p1:
    period.append(i.text)
period

['Tonight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight']

In [99]:
desc = []

d1 = soup.find_all('p',class_="short-desc")

for i in d1:
    desc.append(i.text)
desc

['Mostly Cloudy',
 'Partly Sunnythen MostlySunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Mostly Sunnythen Sunnyand Breezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Partly Sunny',
 'Mostly Cloudy',
 'Mostly Sunny',
 'Partly Cloudy']

In [100]:
temp = []
t1 = soup.find_all('p',class_="temp temp-low")
t2 = soup.find_all('p',class_="temp temp-high")

for i in t1:
    temp.append(i.text)
for i in t2:
    temp.append(i.text)
temp

['Low: 57 °F',
 'Low: 56 °F',
 'Low: 56 °F',
 'Low: 56 °F',
 'Low: 56 °F',
 'High: 70 °F',
 'High: 69 °F',
 'High: 67 °F',
 'High: 69 °F']

In [101]:
data = pd.DataFrame()

In [102]:
data['Period'] = period
data['Description'] = desc 
data['Temprature'] = temp

data

          Period                               Description   Temprature
0        Tonight                             Mostly Cloudy   Low: 57 °F
1       Thursday    Partly Sunnythen MostlySunny andBreezy   Low: 56 °F
2  ThursdayNight  Partly Cloudyand Breezythen MostlyCloudy   Low: 56 °F
3         Friday          Mostly Sunnythen Sunnyand Breezy   Low: 56 °F
4    FridayNight  Partly Cloudyand Breezythen MostlyCloudy   Low: 56 °F
5       Saturday                              Partly Sunny  High: 70 °F
6  SaturdayNight                             Mostly Cloudy  High: 69 °F
7         Sunday                              Mostly Sunny  High: 67 °F
8    SundayNight                             Partly Cloudy  High: 69 °F

# Q.9 Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [103]:
page9 = requests.get('https://internshala.com/fresher-jobs')
soup = BeautifulSoup(page9.content,'html.parser')

In [104]:
title = []
t1 = soup.find_all('div',class_="heading_4_5 profile")

for i in t1:
    title.append(i.text.replace('\n',''))
title

['Sales Manager/Omni Sport Leader - Retail ',
 'Business Development Executive ',
 'Human Resources (HR) Associate/Counselor ',
 'Junior iOS App Developer ',
 'Software Testing Engineer ',
 'Embedded Systems Associate ',
 'Full Stack Developer ',
 'Nutrition & Dietetics Specialist ',
 'Human Resources (HR) Executive ',
 'Junior Software Developer ',
 'Business Development Manager ',
 'Patent Research Associate ',
 'Data Analyst ',
 'Software Tester ',
 'Business Development Executive ',
 'MERN Stack Developer ',
 'Conversion Rate Optimization Analyst ',
 'Client Service Executive ',
 'Sales Development Representative ',
 'Corporate Sales Associate ',
 'International Business Development Executive ',
 'Product Marketer ',
 'Customer Support Associates ',
 'Content & Customer Care Executive ',
 'Django Developer ',
 'Reactjs Developer ',
 'Web Development Trainee ',
 'Business Development Executive ',
 'Cybersecurity Compliance Officer ',
 'MERN Stack Developer ',
 'Senior Copywriter ',
 'Corporate Sales Associate ',
 'Digital Marketing Associate ',
 'Social Media Marketing Executive ',
 'Business Development Executive ',
 'Operations Manager ',
 'Lead Counselor ',
 'Angular.js Developer ',
 'Digital Marketing Specialist ',
 'Franchise Manager - Sales (Assistant Manager ) ']

In [105]:
company = []

name = soup.find_all('div',class_="heading_6 company_name")

for i in name:
    company.append(i.text.replace('\n','').strip())
company

['Decathlon Sport India Private Limited',
 'Velocity Media Networks',
 'New Way Professionals Private Limited',
 'Rang De',
 'SafeSquid Labs',
 'Signals & Systems India Private Limited',
 'Wisestep',
 'Nucros Science & Taste',
 'Nikulsan Technologies Private Limited',
 'Habitate Technologies Private Limited',
 'School Of Excellence',
 'Crimson Insights Technologies LLP',
 'Anudeep Nekkanti',
 'Startxlabs Technologies Private Limited',
 'Padhhigh',
 'Snippt',
 'DataVinci Private Limited',
 'Red Tree Design Studio Private Limited',
 'HelloAR',
 'Best Roadways Limited',
 'Advids',
 'Habitate Technologies Private Limited',
 'Recruit CRM',
 'Revo International LLP',
 'Startxlabs Technologies Private Limited',
 'Startxlabs Technologies Private Limited',
 'Softsensor.ai',
 'Verzeo',
 'S3 Infosoft',
 'Binary Numbers',
 'Ranksoldier International Private Limited',
 'MiM-Essay',
 'BubbleNut Wash',
 'Erikka India',
 'Cosmic Micro Systems Private Limited',
 'Kumi Labs',
 'HOSS - House Of Soft Skills',
 'Systaldyn Consultancy Private Limited',
 'Sahadya Consultants',
 'Regrob']

In [106]:
info = []
CTC = []

c1 = soup.find_all('div',class_="item_body")

for i in c1:
    info.append(i.text.strip().replace('\n',''))
    
for i in range(1,len(info),3):
    CTC.append(info[i])
CTC

['3.3 - 4.5 LPA',
 '3 - 5 LPA',
 '3 - 4 LPA',
 '3 - 4.7 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.25 - 5 LPA',
 '3 LPA',
 '3 LPA',
 '3.6 - 4.8 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '6 - 10 LPA',
 '3 - 3.6 LPA',
 '4 - 7 LPA',
 '4 - 5 LPA',
 '5 LPA',
 '3 LPA',
 '3 - 3.2 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.2 - 4.2 LPA',
 '5 - 7 LPA',
 '3 - 3.05 LPA',
 '3.5 - 7.5 LPA',
 '3.5 - 7.5 LPA',
 '3 - 5 LPA',
 '3 - 6 LPA',
 '3 - 3.6 LPA',
 '3 - 7 LPA',
 '3 LPA',
 '4.5 - 6 LPA',
 '3.6 - 5.4 LPA',
 '3 - 5 LPA',
 '3 - 4.8 LPA',
 '3 - 8 LPA',
 '3.8 - 4.5 LPA',
 '3 - 5 LPA',
 '3 - 3.5 LPA',
 '3 - 3.1 LPA']

In [107]:
dinfo = []
date = []

d1 = soup.find_all('div',class_="item_body")

for i in d1:
    dinfo.append(i.text.strip().replace('\n',''))
    
for i in range(2,len(dinfo),3):
    date.append(dinfo[i])
date

["21 Aug' 21",
 "28 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "22 Aug' 21",
 "25 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21"]

In [108]:
df= pd.DataFrame()
df['Job Title'] = title
df['Company'] = company
df['CTC'] = CTC
df['Apply Date'] = date

df

,Job Title,Company,CTC,Apply Date
0,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,3.3 - 4.5 LPA,21 Aug' 21
1,Business Development Executive,Velocity Media Networks,3 - 5 LPA,28 Aug' 21
2,Human Resources (HR) Associate/Counselor,New Way Professionals Private Limited,3 - 4 LPA,27 Aug' 21
3,Junior iOS App Developer,Rang De,3 - 4.7 LPA,27 Aug' 21
4,Software Testing Engineer,SafeSquid Labs,3 LPA,27 Aug' 21
5,Embedded Systems Associate,Signals & Systems India Private Limited,3 - 4 LPA,27 Aug' 21
6,Full Stack Developer,Wisestep,3.25 - 5 LPA,27 Aug' 21
7,Nutrition & Dietetics Specialist,Nucros Science & Taste,3 LPA,27 Aug' 21
8,Human Resources (HR) Executive,Nikulsan Technologies Private Limited,3 LPA,27 Aug' 21
9,Junior Software Developer,Habitate Technologies Private Limited,3.6 - 4.8 LPA,27 Aug' 21
10,Business Development Manager,School Of Excellence,3 - 3.5 LPA,27 Aug' 21
11,Patent Research Associate,Crimson Insights Technologies LLP,3 - 4 LPA,27 Aug' 21
12,Data Analyst,Anudeep Nekkanti,6 - 10 LPA,27 Aug' 21
13,Software Tester,Startxlabs Technologies Private Limited,3 - 3.6 LPA,27 Aug' 21
14,Business Development Executive,Padhhigh,4 - 7 LPA,26 Aug' 21
15,MERN Stack Developer,Snippt,4 - 5 LPA,26 Aug' 21
16,Conversion Rate Optimization Analyst,DataVinci Private Limited,5 LPA,26 Aug' 21
17,Client Service Executive,Red Tree Design Studio Private Limited,3 LPA,26 Aug' 21
18,Sales Development Representative,HelloAR,3 - 3.2 LPA,26 Aug' 21
19,Corporate Sales Associate,Best Roadways Limited,3 LPA,26 Aug' 21
20,International Business Development Executive,Advids,3 - 4 LPA,26 Aug' 21
21,Product Marketer,Habitate Technologies Private Limited,3.2 - 4.2 LPA,25 Aug' 21
22,Customer Support Associates,Recruit CRM,5 - 7 LPA,25 Aug' 21
23,Content & Customer Care Executive,Revo International LLP,3 - 3.05 LPA,25 Aug' 21
24,Django Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
25,Reactjs Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
26,Web Development Trainee,Softsensor.ai,3 - 5 LPA,25 Aug' 21
27,Business Development Executive,Verzeo,3 - 6 LPA,25 Aug' 21
28,Cybersecurity Compliance Officer,S3 Infosoft,3 - 3.6 LPA,25 Aug' 21
29,MERN Stack Developer,Binary Numbers,3 - 7 LPA,23 Aug' 21
30,Senior Copywriter,Ranksoldier International Private Limited,3 LPA,23 Aug' 21
31,Corporate Sales Associate,MiM-Essay,4.5 - 6 LPA,25 Aug' 21
32,Digital Marketing Associate,BubbleNut Wash,3.6 - 5.4 LPA,23 Aug' 21
33,Social Media Marketing Executive,Erikka India,3 - 5 LPA,23 Aug' 21
34,Business Development Executive,Cosmic Micro Systems Private Limited,3 - 4.8 LPA,22 Aug' 21
35,Operations Manager,Kumi Labs,3 - 8 LPA,25 Aug' 21
36,Lead Counselor,HOSS - House Of Soft Skills,3.8 - 4.5 LPA,22 Aug' 21
37,Angular.js Developer,Systaldyn Consultancy Private Limited,3 - 5 LPA,22 Aug' 21
38,Digital Marketing Specialist,Sahadya Consultants,3 - 3.5 LPA,22 Aug' 21
39,Franchise Manager - Sales (Assistant Manager ),Regrob,3 - 3.1 LPA,22 Aug' 21

# Q.10 Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [109]:
page10 = requests.get('https://www.nobroker.in/property/sale/pune/multiple?searchParam=W3sibGF0IjoxOC41Njc5MTQ2LCJsb24iOjczLjkxNDM0MzE5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnRZUVU1a2JCd2pzUnNMTzBxUGNzU0xZIiwicGxhY2VOYW1lIjoiVmltYW4gTmFnYXIifSx7ImxhdCI6MTguNTQxOCwibG9uIjo3My45MjIzODY1LCJwbGFjZUlkIjoiQ2hJSlVVUDFMSGZCd2pzUnRkdUZ4RVo2dkxRIiwicGxhY2VOYW1lIjoiTmV3IEthbHlhbmkgTmFnYXIifSx7ImxhdCI6MTguNTA4NjQyOSwibG9uIjo3My44MzE0MDkxLCJwbGFjZUlkIjoiQ2hJSndfQnlYNHVfd2pzUmVwc1U0Z3RNX3drIiwicGxhY2VOYW1lIjoiRXJhbmR3YW5lIn1d&radius=2.0')
soup = BeautifulSoup(page10.content,'html.parser')

In [110]:
title = []
t1 = soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY")

for i in t1:
    title.append(i.text)
title

['1 BHK Flat  For Sale  In Brahmacorp F Residences Phase Ii In New Kalyani Nagar ',
 '2 BHK Flat  For Sale  In Brahmacorp F Residences Phase Ii, Kalyani Nagar In Bramha Corp Resale & Rental ',
 '1 BHK Flat  For Sale  In Water Bay In Vadgaon Sheri ',
 '1 BHK Apartment  For Sale  In Water Bay In Vadgaon Sheri ',
 '1 RK Flat  For Sale  In Bhairavnath Temple Vadgaonsheri Pune In Wadgaon Sheri ',
 '2 BHK Flat  For Sale  In Bhoomi Heights In Wadgaon Sheri ',
 '1 BHK Flat  For Sale  In Wadgaon Sheri, ',
 '2 BHK Flat  For Sale  In Jp Paradise In Wadgaonsheri ',
 '1 BHK Flat  For Sale  In Madhav Apartment In Wadgaonsheri ',
 '1 BHK Flat  For Sale  In Ap In Wadgaonsheri ']

In [111]:
location =[]

l1 = soup.find_all('div',class_="nb__2CMjv")

for i in l1:
    location.append(i.text)
location

['vadgaon sheri',
 'Wadgaonsheri Road ',
 'Inamdar School Rd, Digambar Nagar, Near The Farm Fresh',
 'Water Bay\xa0 New Kalyani Nagar, Vitthal Nagar, Digambar Nagar,, New Kalyani Nagar, Vitthal Nagar, Digambar Nagar, Vadgaon Sheri, Pune, Maharashtra 411014, India',
 'bhairavnath mandir',
 'Dhanvantari Colony Opp Lonkar Madhyamik & Uchamadhyamik Vidyalaya',
 'Standalone Building,  Navratna Housing Society, Vitthal Nagar, Digambar Nagar Near Suryamukhi Ganesh Temple',
 'near post office,opposite to telephone exchange wadgaonsheri pune',
 'Post Office',
 'wadgaonsheri']

In [112]:
emiinfo = []
emi = []
e1 = soup.find_all('div',class_="font-semi-bold heading-6")

for i in e1:
    emiinfo.append(i.text)
emiinfo


for i in range(1,len(emiinfo),3):
    emi.append(emiinfo[i])
emi

['₹31,522/Month',
 '₹67,631/Month',
 '₹34,388/Month',
 '₹31,522/Month',
 '₹8,597/Month',
 '₹40,120/Month',
 '₹13,755/Month',
 '₹29,803/Month',
 '₹15,474/Month',
 '₹15,474/Month']

In [113]:
priceinfo = []
price = []
p1 = soup.find_all('div',class_="font-semi-bold heading-6")

for i in p1:
    priceinfo.append(i.text)
priceinfo


for i in range(2,len(priceinfo),3):
    price.append(priceinfo[i])
price

['₹55 Lacs',
 '₹1.18 Crores',
 '₹60 Lacs',
 '₹55 Lacs',
 '₹15 Lacs',
 '₹70 Lacs',
 '₹24 Lacs',
 '₹52 Lacs',
 '₹27 Lacs',
 '₹27 Lacs']

In [114]:
hd = pd.DataFrame()

hd['House Title'] = title
hd['Location']= location
hd['EMi'] =  emi
hd['Price'] = price

hd

,House Title,Location,EMi,Price
0,1 BHK Flat For Sale In Brahmacorp F Residenc...,vadgaon sheri,"₹31,522/Month",₹55 Lacs
1,2 BHK Flat For Sale In Brahmacorp F Residenc...,Wadgaonsheri Road,"₹67,631/Month",₹1.18 Crores
2,1 BHK Flat For Sale In Water Bay In Vadgaon ...,"Inamdar School Rd, Digambar Nagar, Near The Fa...","₹34,388/Month",₹60 Lacs
3,1 BHK Apartment For Sale In Water Bay In Vad...,"Water Bay New Kalyani Nagar, Vitthal Nagar, D...","₹31,522/Month",₹55 Lacs
4,1 RK Flat For Sale In Bhairavnath Temple Vad...,bhairavnath mandir,"₹8,597/Month",₹15 Lacs
5,2 BHK Flat For Sale In Bhoomi Heights In Wad...,Dhanvantari Colony Opp Lonkar Madhyamik & Ucha...,"₹40,120/Month",₹70 Lacs
6,"1 BHK Flat For Sale In Wadgaon Sheri,","Standalone Building, Navratna Housing Society...","₹13,755/Month",₹24 Lacs
7,2 BHK Flat For Sale In Jp Paradise In Wadgao...,"near post office,opposite to telephone exchang...","₹29,803/Month",₹52 Lacs
8,1 BHK Flat For Sale In Madhav Apartment In W...,Post Office,"₹15,474/Month",₹27 Lacs
9,1 BHK Flat For Sale In Ap In Wadgaonsheri,wadgaonsheri,"₹15,474/Month",₹27 Lacs